<html>
<head>
  <title>#if( $page_title ) - $page_title#end</title>
  <link href="/style.css" rel="stylesheet" type="text/css" media="screen, projection" />
</head>
<body>

<span style="margin: 0; padding: 6.49em 0 0 0; width: 15em; background-color: #500000; float: left;">&nbsp;</span><p style="margin: 0; padding: 0.7em; background-color: black; color: white; font-size: 3em; text-align: center;">Paxle</p>