<li><a href="/search">Search</a></li>
<li><a href="/status">Status</a></li>
<li><a href="/crawler">Crawler</a></li>
<li><a href="/bundle">Bundles</a></li>
<li><a href="/log">Logging</a></li>
<li><a href="/queue">Queues</a></li>