html, body {
	margin: 0;
	padding: 0;
	background-color: #F0F0F0;
	color: #000000;
}

fieldset {
	background-color: #FFFFFF;
	color: #000000;
	border: 1px solid black;
	margin: 0;
	clear: left;
}

input, textarea {
    border: 1px solid #9C0000;
    background-color: #FFFFFF;
    padding:2px;
}

input:focus, textarea:focus {
    border: 1px solid #f22;
    background-color: #FFFFFF;
}

#nav {
	width: 12em;
	margin: 0;
	padding: 2em 0 8em 0;
    position: absolute;
    top: 6em;
    left: 0;
	list-style: none;
	background-color: #9C0000;
}

#nav li {
	margin: 0;
	padding: 0;
}

#nav li a {
	padding: 0.5em 0 0.5em 1em;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	white-space: nowrap;
	font-size: 1.2em;
}

#nav li a:hover {
	background-color: #000000;
}

#main {
	margin: 1em 1em 1em 13em;
}

#bundle {
	margin: 0 1em 1em 0;
	padding: 1em 0 3em 0;
	background-color: #FFFFFF;
	color: #000000;
	list-style: none;
}

#bundle li {
	margin: 1em 0 0 2em;
}

#bundle a{
	color: #000000;
}

.box {
	margin: 1em 0 0 0;
	padding: 0.5em;
	background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
}

.tabs {
	margin: 0;
	padding: 0;
	list-style: none;
}

.tabs li {
	float: left;
}
.tabs li a {
	margin: 0;
	padding: 0.5em;
    display: block;
    background-color: #9C0000;
    color: #FFFFFF;
    text-decoration: none;
}

.tabs li a.active, .tabs li a:hover {
	padding-top: 0.5em;
    background-color: #000000; 
}

.error {
	border-color: #FF0000;
}
.warning {
	border-color: #FFFF00;
}
.debug {
	border-color: #0000FF;
}
.info {
	border-color: #00FF00;
}
.resolved {
	text-decoration: line-through;
}

.r1 {
  background-color: #efefef;
}

.r1 {
  background-color: #cdcdcd;
}