#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2010 the original author or authors.
 *
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0").
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 *
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#

#parse( '/resources/templates/layout/header.vm' )

#set($servletManager = $manager.getService('org.paxle.gui.IServletManager'))
#set($cssPrefix = ${servletManager.getFullAlias('/css')})
#set($jsPrefix = ${servletManager.getFullAlias('/js')})
#set($imgPrefix = ${servletManager.getFullAlias('/images')})
#set($user = $context.get("session").getAttribute("org.osgi.service.http.authentication.remote.user"))

<div id="wrapper">

	<!-- left nav -->
	<ul class="nav">
	#parse( '/resources/templates/layout/menu.vm' )
	
	#set($logintext = $resourceTool.bundle('OSGI-INF/l10n/loginview'))
			#if($user)
			<li id="loginStatus">
				<a href="${servletManager.getFullServletPath('org.paxle.gui.impl.servlets.LoginView')}?login.target=$escTool.url($context.get('request').getServletPath())&amp;doLogout="><img src="$imgPrefix/logout.png" width="16" height="16" alt="Logout" /> $user.getProperties().get("http.login")</a> 
			</li>
		#else
			<li id="loginStatus">
				##<a href="${servletManager.getFullAlias('/login')}"><img src="$imgPrefix/login.png" width="16" height="16" alt="Login"/>Not logged in</a>
				<form id="loginForm" action="${servletManager.getFullServletPath('org.paxle.gui.impl.servlets.LoginView')}?login.target=$escTool.url($context.get('request').getServletPath())" method="post">
				<label for="login.username-menuinput">${logintext.formLogin.username}</label>:
				<input type="text" name="login.username" id="login.username-menuinput" size="16" value=""/>
				<label for="login.password-menuinput">${logintext.formLogin.userpwd}</label>:
				<input type="password" name="login.password" id="login.password-menuinput" size="16" value=""/>
				<input class="btnLogin" type="submit" value="Login" name="doLogin"/>
				</form>
			</li>
			#end
	</ul>
	<!-- end left nav -->

	<div id="main"><div id="main-content">$screen_content</div></div>
</div>

#parse( '/resources/templates/layout/footer.vm' )
