<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>#if( $page_title ) - $page_title#end</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" media="screen, projection" />
  
  ## append custom headers
  #if($page_headers)
  	#foreach( $page_header in $page_headers)
		$page_header
	#end
  #end
</head>
<script type="text/javascript">
	/* <![CDATA[ */
	function getHash(offset) {
		var href = document.location.href;
		var i = href.indexOf( "#" );
		return i >= 0 ? href.substr( i + 1 + offset ) : null;
	}
	var cobj;
	function initTabs(d) {
		var i, obj = document.getElementsByTagName('fieldset');
		for(i = 0; i < obj.length; i++) {
			if (obj[i].id.substring(0,1) == 'd') {
				obj[i].style.display = 'none';
				obj[i].getElementsByTagName('legend')[0].style.display = 'none';
			}
		}
		tab = getHash(1);
		fshow(tab ? tab : d);
		setInterval( function() {
			var newTab = getHash(1);
			if (newTab != tab) {
				fshow(newTab ? newTab : d);
				tab = newTab;
			}
		}, 200);
	}

	function fshow(n) {		
		if(cobj != null) {
			document.getElementById('d' + cobj).style.display = 'none';
			document.getElementById('t' + cobj).className = '';
		}
		cobj = n;
		document.getElementById('d' + n).style.display = '';
		document.getElementById('t' + n).className = 'active';		
		return false;
	}
	/* ]]> */
</script>
<body#if( $bodyonload ) onload="$bodyonload"#end>

<h1 style="margin: 0; padding: 0; line-height: 2em; background-color: black; color: white; font-size: 3em; text-align: center;">Paxle</h1>