#set( $menuManager = $manager.getService("org.paxle.gui.IMenuManager"))

#if( $menuManager)    
#set( $current = $context.get("request").getServletPath())
#foreach($item in $menuManager.getMenuItemList())
	#if( $current == $item.getUrl())
	<li class="menuItemActive">
	#else
	<li>
	#end
		<a href="$item.getUrl()">$item.getName()</a>
	</li>
#end
#else
	<li class="error bundleNotInstalled">MenuManager not found!</li>
#end