#set($menuManager = $manager.getService("org.paxle.gui.IMenuManager"))

#if( $menuManager)    
#set($current = $context.get("request").getServletPath())
#foreach($item in $menuManager.getMenuItemList())
  <li class="#if($current == $item.getUrl())menuItemActive#{else}menuItemInactive#end">
    <a href="$item.getUrl()">$item.getName()</a>
  </li>
#end
#else
  <p class="bundleNotInstalled">MenuManager not found!</p>
#end
