#set($menuManager = $manager.getService("org.paxle.gui.IMenuManager"))

#if($menuManager)
	#foreach($item in $menuManager.getMenuItemList())
		<li><a href="$item.url">$item.name</a></li>
	#end
#else
	<font color="red">MenuManager not found!</font>
#end
