#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2009 the original author or authors.
 *
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0").
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 *
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#

#set( $text = $resourceTool.bundle('OSGI-INF/l10n/Blacklist'))
## Set the page title
#set( $page_title = $text.page.title )

<h2>Blacklist</h2>

#if($manager)
	<ul class="tabs">
		#foreach( $list in $blacklists )
			#if ($curList && $curList.getName() == $list.getName() && $action != "newList")
				<li><a class="active" href="/blacklist?list=$escTool.url($list.getName() )">$list.getName()</a></li>
			#else
				<li><a href="/blacklist?list=$escTool.url($list.getName() )">$list.getName()</a></li>
			#end
		#end
		
		
			#if ($action == "newList")
				<li><a class="active" href="/blacklist?action=newList">${text.newBlacklist}</a></li>
			#else
				<li><a href="/blacklist?action=newList">${text.newBlacklist}</a></li>
			#end		
	</ul>
	#if ($InvalidFilenameException)
	    <div class="error">$escTool.xml($InvalidBlacklistnameException.getMessage())</div>
	#else
		#if ($action != "newList" && $action != "delList")
			<p><a href="/blacklist?action=delList&amp;list=$escTool.url( $curList.getName() )">${text.deleteBlacklist}</a></p>
		#end
		#if ($action == "newList")
			<h3>${text.header.newBlacklist}</h3>
			<form method="post" action="/blacklist">
				<p>
					<input type="text" name="listName" id="listName" value="" />
					<input type="hidden" name="action" value="addList" />
					<input type="submit" value="${text.create}" />
				</p>
			</form>
		#elseif ($action == "delList")
			<h3>${text.header.deleteBlacklist}</h3>
			<p class="warning"><strong>${text.warning}:</strong> ${text.deleteHint} <a href="/blacklist?list=$escTool.url($curList)">${text.cancel}</a></p>
			<form method="post" action="/blacklist">
				<p>
					<input type="hidden" name="action" value="removeList" />
					<input type="hidden" name="list" value="$escTool.html( $curList.getName() )" />
					<input type="submit" value="${text.delete}" />
				</p>
			</form>
		#elseif($action == "editPattern")
			<h3>${text.editPattern} $escTool.html($fromPattern)</h3>
			<form method="post" action="/blacklist">
				<p>
					<input type="hidden" name="action" value="editPattern" />
					<input type="hidden" name="list" value="$escTool.html($curList.getName())" />
					<input type="hidden" name="fromPattern" value="$escTool.html($fromPattern)" />
					<input type="text" name="toPattern" value="$escTool.html($fromPattern)" />
					<input type="submit" value="${text.edit}" />
				</p>
			</form>
		#else
			<form method="post" action="/blacklist">
				<p>
					<input type="hidden" name="action" value="addPattern" />
					<input type="hidden" name="list" value="$escTool.html( $curList.getName() )" />
					<input type="text" name="pattern" value="" />
					<input type="submit" value="${text.addPattern}" />
				</p>
			</form>
			<form method="get" action="/blacklist">
				<p>
					<input type="hidden" name="action" value="testURL" />
					<input type="hidden" name="list" value="$escTool.html($curList.getName() )" />
					<input type="text" name="URL" value="" />
					<input type="submit" value="${text.testUrl}" />
				</p>
			</form>
#if ($action == "testURL")
			<p>${text.theUrl} $escTool.html($url) ${text.was} #if($filterResult.getStatus() == $fieldTool.in($filterResult).LOCATION_OKAY )${text.not}#end ${text.matched}.</p>
#if ($filterResult.getStatus() == $fieldTool.in($filterResult).LOCATION_REJECTED)
			<p>${text.matchingPatternIs} <font color="red">$escTool.html($filterResult.getRejectPattern() )</font>.</p>
#end
#end
			<table>
				<tr>
					<th>${text.pattern}</th>
					<th colspan="2">${text.action}</th>
				</tr>
				#foreach ($pattern in $curList.getPatternList())
					<tr>
						<td>$escTool.html($pattern)</td>
						<td>
							<form method="post" action="/blacklist">
								<div>
									<input type="hidden" name="action" value="removePattern" />
									<input type="hidden" name="list" value="$escTool.html($curList.getName())" />
									<input type="hidden" name="pattern" value="$escTool.html($pattern)" />
									<input type="submit" value="${text.deletePattern}" />
								</div>
							</form>
						</td>
						<td>
							<form method="get" action="/blacklist">
								<div>
									<input type="hidden" name="action" value="editPattern" />
									<input type="hidden" name="list" value="$escTool.html($curList.getName())" />
									<input type="hidden" name="fromPattern" value="$escTool.html($pattern)" />
									<input type="submit" value="${text.editPattern}" />
								</div>
							</form>
						</td>
					</tr>
				#end
			</table>
		#end
	#end
#end
