html, body {
	margin: 0;
	padding: 0;
	background-color: #CCCCCC;
	color: #000000;
	font-family: Arial,sans-serif;
}

fieldset {
	margin: 1em 0 0 0;
	padding: 1em;
	
	background-color: #FFFFFF;
	color: #000000;

	border: solid 0.1em #444444;
}

fieldset.infobox {
	width: 24em;
	margin: 1em;
	float: left;
}

fieldset#dmemory, fieldset#dsystem {
	height: 450px;
}	

form {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0 0 0.25em 0;
	padding: 0.3em 3.5em;
	
	background-color: #730002;
	color: #FFFFFF;
	
	font-size: 4em;
	text-align: left;
	
	background-image: url('../images/header_bg.png');
	background-repeat: no-repeat;
}

h2 {
	background-color: #8f3335;
	color: white;
	font-size: 2em;
	font-weight: normal;
	margin: -0.5em -0.5em 0.75em;
	padding: 0.3em 0.3em 0.3em 0.5em;
	text-align: center;
}

h3 {
	color: black;
	font-size: 1.2em;
	font-weight: normal;
	padding: 0.3em;
	text-align: center;
}

input {
	border: 1px solid #96835f;
	padding: 0.1em;
}

input:hover {
	border-color: #730002;
	background-color: #F9F8E0;
}

input, textarea  {
	margin: 0;
	padding: 0.2em;
	
	background-color: #FFFFFF;
	color: #444444;
	
	border: 0.1em solid #96825F;
	font-size:13px;
}

a.button {
	color: #444444;
	text-decoration: none;
	border: 0.1em solid #96825F;
	font-size:13px;
	padding:0.26em;
}

div.buttonBar {
	padding-top: 5px;
}

input:focus, textarea:focus {
	background-color: #FFFFFF;
	color: #000000;
	
	border-color: #730002;
}

table {
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

th {
	background-color: #e1d7b1;
	border-left: 1px solid #96825F;
	border-right: 1px solid #96825F;
	border-bottom: 1px solid #96825F;
}

th.sub {
	background-color: #ece6cf;
}

tr:hover {
	background-color: #F9F8E0;
}

td {
	vertical-align: top;
	border: 1px solid #96825F;
	padding: 0.2em;
}

#wrapper {
	padding: 0 1%;
}

#main {
	margin: 0;
	padding: 1%;
	float: right;
	width: 82%;
	
	background-color: #FFFFFF;
	
	border-top: solid 1em #444444;
}


.nav {
	width: 15%;
	
	margin: 0;
	padding: 0;
	
	float: left;
	list-style: none;
	

	color: #96825F;
	
	border-top: solid 1em #444444;
	
	background-image: url('../images/nav-background.png');
}

.nav li {
	margin: 0;
	padding: 0;
}

.nav #loginStatus {
	padding:0.5em 0pt 0.5em 1em;
}

.nav li a, .nav li strong {
	margin: 0;
	padding: 0.5em 0 0.5em 1em;
	
	display: block;
  height: 1%;
	
	color: #000000;
	
	text-decoration: none;
	white-space: nowrap;
	font-size: 1.2em;
	border-bottom: dashed 0.05em #444444;
}

.nav li a:hover, .nav li a.active {
	background-color: #730002;
	color: #FFFFFF;
	opacity: 0.8;
}

.subnav {
	list-style: none;
	padding-left: 0px;
	font-size: 0.85em;
}

.subnav0 li a {
	padding-left: 2em;
}

.subnav1 li a {
	padding-left: 3em;
}

.subnav1 li a img {
	left:30px;
	position:absolute;
}

.tabs {
	margin: 0;
	padding: 0;
	padding-left: 0.3em;
	border-bottom:1px solid #730002;
}

.tabs li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
}

.tabs li a {
	margin: 0;
	padding: 0 0.5em 0;
	width: 6em;
	border: 1px solid #96825F;
	border-bottom: none;
	color: black;
	text-decoration: none;
}

.tabs li a.active, .tabs li a:hover {
	border-color: #730002; 
}

.tabs li a.active {
	border-bottom: 1px solid white;
}

.tabs li a:hover {
	background-color: #F9F8E0;
}

.filter {
	margin: 0 0 10px 0;
	padding: 0.2em 0.5em 0.2em 0.5em;

	background-color: #444444;
	color: #FFFFFF;	
}

.error {
	padding: 1em;
	font-size: 1.2em;
	color: #FFFFFF;
	background: #730002 url('../images/log-error.png') no-repeat croll left center;
}

.warning {
	padding: 1em;	
	font-size: 1.2em;	
	background: #A0A000 url(../images/log-warning.png) no-repeat scroll left center;	
}

.info {
	padding: 1em;	
	font-size: 1.2em;
	color: #FFFFFF;
	background: #0000A0 url(../images/log-info.png) no-repeat scroll left center;	
}

span.error, p.error {
	font-size: 1em;
	background-image: none;
	background-color: #730002;
	color: #FFFFFF;
}

.ovActivityTable .warning {
	padding: 0 0 0 1.2em;
	font-size: 1em;
}

span.error {
	padding: 0;
}

.exception {
	background-color: #FFEEFF;
	white-space:pre;
}

.logerror {
	padding: 0 0 0 22px;
	background-color: #A00000;
	background-image: url('../images/log-error.png');
	background-repeat: no-repeat;
}

.logwarn {
	padding: 0 0 0 22px;
	background-color: #A0A000;
	background-image: url('../images/log-warning.png');
	background-repeat: no-repeat;
}

.loginfo {
	padding: 0 0 0 22px;
	background-color: #00A000;
	background-image: url('../images/log-info.png');
	background-repeat: no-repeat;
}

.logdebug {
	color: white;
	padding: 0 0 0 22px;
	background-color: #0000A0;
	background-image: url('../images/log-debug.png');
	background-repeat: no-repeat;	
}

.logMessage {
	font-family: monospace;
}

.logDate {
	font-family: monospace;
	white-space: nowrap;
}

.summary {
	margin: 0px 0px 10px 0px;
	padding: 5px 0px;
	background-color: lightgrey;
}

.summary div {
	color: black;
	background-color: lightgrey;
	display: inline;
	background-position: center left;
	vertical-align: middle;
}

.resolved {
	text-decoration: line-through;
}

.statusRunning {
	color:green;
}

.statusPaused {
	color:red;
}

.statusEnabled {
	color:green;
}

.statusDisabled {
	color:red;
}

a.rssFeedLink {
	float:right;
	padding: 10px 10px 10px 10px;
}

img {
	border: 0;
}

.lastUpdate {
	font-size: xx-small;
	font-style: italic;
	margin-top: 10px;
}

.lastUpdate input.updateControl {
	border: 1px solid white;
	cursor: pointer;	
}

#login {
	margin-top: 5px;
}

#login input {
	display: block;
	margin-bottom: 5px;
}

#specificLinks, #specificProtocols, #specificMimeTypes {
	margin-left: 20px;
}

.descriptionText {
	font-style: italic;
}

div.descriptionText {
	margin: 5px 0 5px 0;
}

.searchResultMain {
	float: left;
}

.searchResultLocation {
	color:#557D6C;
	display:inline;
	float:left;
	font-size:smaller;
	text-decoration:none;
}

.searchResultProvider {
	float: right;
	font-size:smaller;
}


img.searchResultFavicon {
	float:left;
	height:16px;
	margin:5px;
	width:16px;
}

img.metaDataIcon {
	float:left;
	height:16px;
	margin:5px;
	width:16px;
}
