html, body {
	margin: 0;
	padding: 0;
	background-color: #CCCCCC;
	color: #000000;
	font-family: Arial,sans-serif;
}

fieldset {
	margin: 1em 0 0 0;
	padding: 1em;
	
	background-color: #FFFFFF;
	color: #000000;

	border: solid 0.1em #444444;
}

fieldset.infobox {
	min-width: 24em;
	margin: 1em;
	float: left;
}

form {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0 0 0.25em 0;
	padding: 0.3em 3.5em;
	
	background-color: #730002;
	color: #FFFFFF;
	
	font-size: 4em;
	text-align: left;
	
	background-image: url('/images/header_bg.png');
	background-repeat: no-repeat;
}

h2 {
	background-color: #8f3335;
	color: white;
	font-size: 2em;
	font-weight: normal;
	margin: -0.5em -0.5em 0.75em;
	padding: 0.3em 0.3em 0.3em 0.5em;
	text-align: center;
}

img.favicon{
	width: 16px;
	margin: 0 4px 0 0;
	height: 16px;
	float: left;
}

input {
	border: 1px solid #96835f;
	padding: 0.1em;
}

input:hover {
	border: 1px solid #730002;
	background-color: #F9F8E0;
}

input[type=text] , textarea {
	margin: 0;
	padding: 0.2em;
	
	background-color: #FFFFFF;
	color: #444444;
	
	border: 0.1em solid #96825F;
}

input[type=text]:focus, textarea:focus {
	background-color: #FFFFFF;
	color: #000000;
	
	border: 0.1em solid #730002;
}

table {
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

th {
	border-left: 1px solid #96825F;
	border-right: 1px solid #96825F;
	border-bottom: 1px solid #96825F;
}

tr:hover {
	background-color: #F9F8E0;
}

td {
	vertical-align: top;
	border: 1px solid #96825F;
	padding: 0.2em;
}

#main {
	margin: 0 1em 0 13em;
	padding: 1em;
	
	background-color: #FFFFFF;
	
	border-top: solid 1em #444444;
}


#nav {
	width: 11em;
	
	margin: 0 0 0 1em;
	padding: 0;
	
	float: left;
	list-style: none;
	

	color: #96825F;
	
	border-top: solid 1em #444444;
	
	background-image: url('/images/nav-background.png');
}

#nav li {
	margin: 0;
	padding: 0;
}

#nav li a {
	margin: 0;
	padding: 0.5em 0 0.5em 1em;
	
	display: block;
	
	color: #000000;
	
	text-decoration: none;
	white-space: nowrap;
	font-size: 1.2em;
	border-bottom: dashed 0.05em #444444;
}

#nav li a:hover, #nav li.menuItemActive a {
	background-color: #730002;
	color: #FFFFFF;
	opacity: 0.8;
}


.tabs {
	margin: 0;
	padding: 0;
	padding-left: 0.3em;
	border-bottom:1px solid #730002;
}

.tabs li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
}

.tabs li a {
	margin: 0;
	padding: 0 0.5em 0;
	width: 6em;
	border: 1px solid #96825F;
	border-bottom: none;
	color: black;
	text-decoration: none;
}

.tabs li a.active, .tabs li a:hover {
	border-color: #730002; 
}

.tabs li a.active {
	border-bottom: 1px solid white;
}

.tabs li a:hover {
	background-color: #F9F8E0;
}

.filter {
	margin: 0;
	padding: 0.2em 0.5em 0.2em 0.5em;

	background-color: #444444;
	color: #FFFFFF;	
}

.error {
	padding: 1em;
	
	background-color: #730002;
	color: #FFFFFF;
	
	font-size: 1.2em;
	
	background-image: url('/images/error.png');
	background-repeat: no-repeat;
}

.exception {
	background-color: #FFEEFF;
}


.logerror {
	padding: 0 0 0 22px;
	background-color: #A00000;
	background-image: url('/images/log-error.png');
	background-repeat: no-repeat;
}

.logwarning {
	padding: 0 0 0 22px;
	background-color: #A0A000;
	background-image: url('/images/log-warning.png');
	background-repeat: no-repeat;
}

.loginfo {
	padding: 0 0 0 22px;
	background-color: #00A000;
	background-image: url('/images/log-info.png');
	background-repeat: no-repeat;
}

.logdebug {
	padding: 0 0 0 22px;
	background-color: #0000A0;
	background-image: url('/images/log-debug.png');
	background-repeat: no-repeat;
}

.resolved {
	text-decoration: line-through;
}

.statusRunning {
	color:green;
}

.statusPaused {
	color:red;
}

.statusEnabled {
	color:green;
}

.statusDisabled {
	color:red;
}

a.rssFeedLink {
	float:right;
	padding: 10px 10px 10px 10px;
}

a.rssFeedLink > img {
	border: 0;
}

.lastUpdate {
	font-size: x-small;
	font-style: italic;
	margin-top: 10px;
}
