html, body {
	margin: 0;
	padding: 0;
	background-color: #CCCCCC;
	color: #000000;
}

fieldset {
	margin: 1em 0 0 0;
	padding: 1em;
	
	background-color: #FFFFFF;
	color: #000000;

	border: solid 0.1em #000000;
}

form {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0 0 0.5em 0;
	padding: 1em;
	background-color: #730002;
	color: #FFFFFF;
	font-size: 2em;
	text-align: center;
	background-image: url('/images/header_bg.png');
	background-repeat: no-repeat;
}

input[type=text] , textarea {
	padding: 0.2em;
	background-color: #FFFFFF;
	border: 0.1em solid #96825F;
}

input:focus, textarea:focus {
	background-color: #FFFFFF;
	border: 0.1em solid #f22;
}

input[type=submit] {

	padding: 0;
	
	width: 6em;
	height: 1.85em;
	
	background-color: #FFFFFF;
	color: #000000;
	
	background-image: url('/images/button.png');
	background-position: center;
	background-repeat: no-repeat;
	border: 0 none;
}

input[type=submit]:hover {
	background-image: url('/images/button_pressed.png');
}

table {
	margin: 0;
	padding: 0;
	width: 100%;
}

th {
	background-color: #444444;
	color: #FFFFFF;
}

tr:hover {
	background-color: #FFFFFF;
}

td {
	vertical-align: top;
}

tr {
	background-color: #EEEEEE;
}

#main {
	margin: 0 1em 0 13em;
	padding: 1em;
	background-color: #FFFFFF;
	border-top: solid 1em #444444;
}


#nav {
	width: 11em;
	margin: 0 0 0 1em;
	padding: 0;
	float: left;
	list-style: none;
	background-color: #96825F;
	border-top: solid 1em #444444;
}

#nav li {
	margin: 0;
	padding: 0;
}

#nav li a {
	padding: 0.5em 0 0.5em 1em;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	white-space: nowrap;
	font-size: 1.2em;
	border-bottom: dashed 0.05em #444444;
}

#nav li a:hover, #nav li.menuItemActive a {
	background-color: #730002;
	color: #FFFFFF;
}


#bundle {
	margin: 0 1em 1em 0;
	padding: 1em 0 3em 0;
	background-color: #FFFFFF;
	color: #000000;
	list-style: none;
}

#bundle li {
	margin: 1em 0 0 2em;
}

#bundle a{
	color: #000000;
}


.tabs {
	margin: 0;
	padding: 0;
}

.tabs li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
}

.tabs li a {
	margin: 0;
	padding: 0.5em;
	width: 6em;
	background-color: #96825F;
	color: #FFFFFF;
	text-decoration: none;
	border-right: dashed 0.05em #444444;
}

.tabs li a.active, .tabs li a:hover {
	padding-top: 0.5em;
	background-color: #730002; 
}


.clearer {
	clear: both;
}

.error {
	background-color: #A00000;
}

.warning {
	background-color: #A0A000;
}

.info {
	background-color: #00A000;
}

.debug {
	background-color: #0000A0;
}

.resolved {
	text-decoration: line-through;
}

.r1 {
	background-color: #EFEFEF;
}

.r1 {
	background-color: #CDCDCD;
}

img.favicon{
	margin: 0 4px 0 0;
	width: 16px;
	height: 16px;
	float: left;
}

.statusRunning {
	color:green;
}

.statusPaused {
	color:red;
}

.statusEnabled {
	color:green;
}

.statusDisabled {
	color:red;
}

a.rssFeedLink {
	float:right;	
}

a.rssFeedLink > img {
	border: 0;
}
