#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2010 the original author or authors.
 *
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0").
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 *
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#

#set( $text = $resourceTool.bundle('OSGI-INF/l10n/config'))
## Set the page title
#set( $page_title = $text.page.title )

<div>
	<h2>$text.page.title</h2>

	<div>
		#if($manager)
		<fieldset>
		<label>$text.opensearchImport</label>
			<div>
				<form action="#" method="post">
				<p>
					$text.xmlImport:<br />
					<input type="text" name="opensearchurl" /><br />
					<input type="submit" value="$text.importURLs" />
				</p>
				</form>
			</div>
			
			<div>
				<form action="#" method="post">
				<p>
					$text.htmlImport:<br />
					<input type="text" name="opensearchhtmlurl" /><br />
					<input type="submit" value="$text.importURLs" />
				</p>
				</form>
			</div>
		</fieldset>
	</div>

	<div>
	<fieldset>
		<label>$text.rssUrls</label>
		<div>
		$text.feedUrlsHint $text.sHint
		</div>
		<div>
			<form action="#" method="post">
				<p>
  					<textarea name="urls" id="urls" cols="80" rows="15">
#foreach ($url in $urls)$url
#end
					</textarea><br />
					<input type="submit" value="$text.submitURLs" />
				</p>
			</form>
		</div>
	</fieldset>
	</div>
	
</div>
#end
