## Set the page title
#set( $page_title = "Paxle RSS search providers" )

<h2>RSS search providers</h2>

#if($manager)
<form action="#" method="POST">
Opensearch XML import: <input type="text" name="opensearchurl" /><br />
<input type="submit" value="import" />
</form>
<br />
<form action="#" method="POST">
Opensearch import from webpage: <input type="text" name="opensearchhtmlurl" /><br />
<input type="submit" value="import" />
</form>
<form action="#" method="POST">
    <dl>
    <dt>RSS-URLs (%s will be replaced by search-phrase)</dt>
    <dl><textarea name="urls" id="urls" cols="80" rows="15">
#foreach ($url in $urls)$url
#end</textarea></dd>
    </dl>
<input type="submit" value="ok" />
</form>
#end
