#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2009 the original author or authors.
 *
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0").
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 *
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#
## getting resourcebundle to translate site
#set( $text = $resourceTool.bundle('OSGI-INF/l10n/logviewLog4j'))

## Set the page title
#set( $page_title = ${text.browser.title} )

## Activate onload
#set ( $bodyonload = "initTabs('logfiles');")

## the regular content
<h2>${text.page.title}</h2>

<ul class="tabs">
	<li><a href="#dlogfiles" onclick="fshow('logfiles');" id="tlogfiles">Logfiles</a></li>
	<li><a href="#dlogconfig" onclick="fshow('logconfig');" id="tlogconfig">Configuration</a></li>
</ul>

<fieldset id="dlogfiles">
	<legend>${text.logfiles.legend}</legend>
	<p>$text.logFiles.overviewMessage.insert($listTool.size($logfiles)).insert($numberTool.format($totalSize))</p>
    #if($logfiles)
    <table>
    	<tr>
    		<th>${text.logfiles.table.col.fileName}</th>
    		<th>${text.logfiles.table.col.fileSize}</th>
    		<th>${text.logfiles.table.col.fileDate}</th>
    		<th>${text.logfiles.table.col.action.download}</th>
    		<th>${text.logfiles.table.col.action.delete}</th>
    	</tr>
        #foreach($logFile in $logfiles)
    		<tr>
    			<td>${logFile.name}</td>
    			<td>$numberTool.format(${logFile.length()})</td>
    			<td>$dateTool.format('medium',$logFile.lastModified())</td>
                <td>[<a href="?action=download&amp;file=${logFile.name}">TXT</a>]&nbsp;|&nbsp;[<a href="?action=download&amp;file=${logFile.name}&amp;format=gzip">GZIP</a>]</td>
    			<td><a href="?action=delete&amp;file=${logFile.name}">${text.logfiles.table.col.action.delete}</a></td>
    		</tr>
    	#end
    </table>
    #end
</fieldset>
	
<fieldset id="dlogconfig">
	<legend>${text.config.legend}</legend>
	<h3>${text.config.title.setLogLevel}</h3>
	<form method="get" action="${request.getServletPath()}">
		<input type="hidden" name="action" value="setLevel"/>
		
		<label for="log4j.logger.name">${text.config.LoggerName}</label>
		<input id="log4j.logger.name" type="text" name="logger"/>
		
		<label for="log4j.logger.level">${text.config.LogLevel}</label>
		<select id="log4j.logger.level" name="level">			
			<option>DEBUG</option>
			<option>INFO</option>
			<option>WARN</option>
			<option>ERROR</option>
			<option>OFF</option>
		</select>	
		
		<input type="submit" name="setLevel" value="${text.config.btn.setLogLevel}" />
	</form>
	
	<hr />
	
	<h3>${text.config.title.getLogLevel}</h3>
	#if($loggerName)
		<p class="box info">$text.config.info.loglevelMessage.insert($loggerName).insert($loggerLevel)</p>
	#end
	<form method="get" action="${request.getServletPath()}#dlogconfig">
		<input type="hidden" name="action" value="getLevel"/>
    	<label for="log4j.logger.name">${text.config.LoggerName}</label>
    	<input id="log4j.logger.name" type="text" name="logger"/>
    	<input type="submit" name="setLevel" value="${text.config.btn.getLogLevel}" />
	</form>
</fieldset>