#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2009 the original author or authors.
 *
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0").
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 *
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#
## getting resourcebundle to translate site
#set( $text = $resourceTool.bundle('OSGI-INF/l10n/logview'))
#foreach($logEntry in ${logReader.getLog()})
#set($level = ${logEntry.getLevel()})
#set($dateFormat = ${text.logmsg.time.format})
#if( $level <= $filterLogLevel)
#set($levelName = $logLevelNames.get($level))
$dateTool.format("$dateFormat",$logEntry.getTime()) $text.get("loglevel.$levelName")#if($paramParser.getString("verbose","")=="true") ${logEntry.loggerName}#end - $logEntry.getMessage()#if($logEntry.getException()) $logView.toString($logEntry.getException())#end

#end
#end
