#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2009 the original author or authors.
 *
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0").
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 *
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#
<?xml version="1.0"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
<ShortName>Paxle Search</ShortName>
<Description>Paxle OpenSearch</Description>
<Image height="16" width="16" type="image/x-icon">$request.getScheme()://$request.getServerName():$request.getServerPort()/images/favicon.ico</Image>
<Url type="text/html" method="get" template="$request.getScheme()://$request.getServerName():$request.getServerPort()/?query={searchTerms}"/>
<Url type="application/rss+xml" template="$request.getScheme()://$request.getServerName():$request.getServerPort()/search?format=rss&amp;query={searchTerms}" />
<OutputEncoding>UTF-8</OutputEncoding>
<InputEncoding>UTF-8</InputEncoding>
</OpenSearchDescription>