## Activate onload
#set ( $bodyonload = "initTabs('bundlelist');" )
<h2>${text.bundlelist.title}</h2>

<ul class="tabs">
	<li><a href="#dbundlelist" onclick="fshow('bundlelist');" id="tbundlelist">${text.tab.listBundles}</a></li>	
	<li><a href="#dbundleinstall" onclick="fshow('bundleinstall');" id="tbundleinstall">${text.tab.installBundles}</a></li>
</ul>

<br />
<br />

#if( $errorMsg)
	<p class="error">$errorMsg</p>
#end

<fieldset id="dbundleinstall">
	<legend>${text.legend.installBundles}</legend>

    <h4>${text.installBundles.fromURL.title}</h4><br/>
    <form action="">
    	<p>
    		<input type="text" name="bundlePath" size="60" />
    		<input type="submit" name="installURL" value="${text.installBundles.doInstall}" />
    	</p>
    </form>
    
    <h4>${text.installBundles.fromFile.title}</h4>
    <form enctype="multipart/form-data" method="post" action="">
    	<p>
			<input type="checkbox" name="replaceExisting" id="replaceExisting" />
			<label for="replaceExisting">${text.installBundles.replaceExisting}</label><br />
    		<input type="file" name="bundleJar" size="60" />
    		<input type="submit" name="installUpload" value="${text.installBundles.doInstall}" />
    	</p>
    </form>
</fieldset>


<fieldset id="dbundlelist">
	<legend>${text.legend.listBundles}</legend>
	
	<form action="">
		<p>
			#set( $filters = {"${text.listBundles.filter.all}":'(Bundle-SymbolicName=*)', "${text.listBundles.filter.allPaxle}":'(Bundle-SymbolicName=org.paxle.*)', "${text.listBundles.filter.allPaxleCrawlers}":'(Bundle-SymbolicName=org.paxle.Crawler*)', "${text.listBundles.filter.allPaxleParsers}":'(Bundle-SymbolicName=org.paxle.Parser*)'})
			${text.listBundles.filterBundles}:			
    		<select name="filter">
				#foreach($entry in $sortTool.sort(${filters.entrySet()}, ["key:asc"]))
					<option value="${entry.value}" #if($filter && $filter == ${entry.value})selected="selected"#end>${entry.key}</option>
				#end
			</select>
			<input type="submit" name="doFilter" value="${text.listBundles.doFilter}" />
		</p>
	</form>

    <table>
    	<tr>
			<th>${text.listBundles.id}</th>
    		<th>${text.listBundles.bundleName}</th>
			<th>${text.listBundles.bundleVersion}</th>
    		<th>${text.listBundles.action}</th>
    	</tr>
     	#if( $bundles)
    	#foreach( $entry in $bundles.entrySet())
    	<tr>
			#set($bundleID = $entry.key)
			#set($bundleSymbolicName = $entry.value.symbolicName)
			#set($bundleState = $states.get($entry.value.state))
			#set($bundleHeaders = $entry.value.getHeaders())
			
			<td><a class="$bundleState" href="?bundleID=$bundleID&amp;action=details">$bundleID</a></td>
    		<td class="bundle_$bundleState">
				<a class="$bundleState" href="?bundleID=$bundleID&amp;action=details">
					$bundleHeaders.get('Bundle-Name')
				</a><br/>				
    			<tt>[$bundleSymbolicName]</tt>
				#if($bundleHeaders.get('Bundle-Description'))
					<br/><div class="descriptionText">$bundleHeaders.get('Bundle-Description')</div>
				#end
				#if(($bundleState == 'resolved' || $bundleState == 'installed') && ($bundleHeaders.get("Bundle-Activator")))
					<br/><font color="red">${text.listBundles.bundleNotStarted}</font>
				#end
    		</td>
			<td><tt>$bundleHeaders.get('Bundle-Version')</tt></td>
    		<td>
    			<form action="">
    				<div>
    					<input type="hidden" name="bundleID" value="$bundleID" />
    					<select name="action">
    						<option value="start">${text.listBundles.actionStart}</option>
    						<option value="stop">${text.listBundles.actionStop}</option>
    						<option value="restart">${text.listBundles.actionRestart}</option>
    						<option value="update">${text.listBundles.actionUpdate}</option>
    						<option value="uninstall">${text.listBundles.actionUninstall}</option>
    					</select>
    					<input type="submit" name="OK" value="${text.listBundles.doAction}"/>
    				</div>
    			</form>
    		</td>
    	</tr>
    	#end
    	#end
    </table>
</fieldset>