#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2008 the original author or authors.
 * 
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0"). 
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt 
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 * 
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#

## Activate onload
#set ( $bodyonload = "initTabs('runtimeinformation');" )
<h2>${text.bundleinfo.title}</h2>

<ul class="tabs">
	<li><a href="#druntimeinformation" onclick="fshow('runtimeinformation');" id="truntimeinformation">${text.tab.runtimeInfo}</a></li>
	<li><a href="#dbundlemanifest" onclick="fshow('bundlemanifest');" id="tbundlemanifest">${text.tab.bundleManifest}</a></li>
	<li><a href="#dexportedservices" onclick="fshow('exportedservices');" id="texportedservices">${text.tab.exportedServices}</a></li>
	<li><a href="#dimportedservices" onclick="fshow('importedservices');" id="timportedservices">${text.tab.importedServices}</a></li>
</ul>

<br />
#set($bundleName = $bundle.getHeaders().get("Bundle-Name"))
#set($bundleVersion = $bundle.getHeaders().get("Bundle-Version"))
#set($bundleDescr = $bundle.getHeaders().get("Bundle-Description"))
#set($bundleBuildNr = $bundle.getHeaders().get("Implementation-Build"))

<h3>#{if}($bundleName)$bundleName#{else}${bundle.getSymbolicName()}#{end} ($bundleVersion#{if}($$bundleBuildNr) - SVN Rev. $bundleBuildNr#{end})</h3>
<br />
#if($bundleDescr)
	<div class="descriptionText">$bundleDescr</div>
#end	

<fieldset id="druntimeinformation">
	<legend>${text.legend.runtimeInfo}</legend>
	<table>
		<tr><th>${text.runtimeInfo.name}</th><th>${text.bundleManifest.name}</th></tr>
		<tr><td><b>${text.runtimeInfo.id}</b></td><td>$bundle.BundleId</td></tr>
		<tr><td><b>${text.runtimeInfo.location}</b></td><td>$bundle.Location</td></tr>
		<tr><td><b>${text.runtimeInfo.state}</b></td><td>$states.get($bundle.state)</td></tr>
		<tr><td><b>${text.runtimeInfo.lastMod}</b></td><td>$dateTool.format('medium',$bundle.LastModified)</td></tr>
	</table>
</fieldset>

<fieldset id="dbundlemanifest">
	<legend>${text.legend.bundleManifest}</legend>
	<table>
		<tr><th>${text.bundleManifest.name}</th><th>${text.bundleManifest.value}</th></tr>
		#set($headers = $bundle.getHeaders())	
		#foreach($name in $headers.keys())		
		<tr>
			<td><b>$name</b></td>
			<td>
			#if( $name == "Import-Package" || $name == "Export-Package" || $name == "Private-Package" || $name == "Ignore-Package" || $name == "Bundle-ClassPath" || $name == "Embed-Dependency")			
			#foreach( $package in $stringTools.quoteSplit($headers.get($name), ","))
 				$package<br />
			#end
			#else
			#set( $value = $headers.get( $name))
			#if( $value.startsWith("http:") || $value.startsWith("https:"))
				<a href="$value">$value</a>
			#else
				$value
			#end
			#end
			</td>
		</tr>
		#end
	</table>
</fieldset>

<fieldset id="dexportedservices">
	<legend>${text.legend.exportedServices}</legend>
	<table>
	#set( $services = $bundle.getRegisteredServices())
		<tr>
			<th>${text.exportedServices.id}</th>
			<th>${text.exportedServices.object}</th>
			<th>${text.exportedServices.props}</th>
		</tr>
		#foreach( $service in $services)
		<tr>
			<td>$service.getProperty("service.id")</td>
			<td>
			#foreach( $serviceClass in $service.getProperty( "objectClass"))
  				$serviceClass<br />
			#end
			</td>
			<td>
			#foreach( $propName in $service.getPropertyKeys())
			#if( $propName != "service.id" && $propName != "objectClass")
				$propName = $service.getProperty( $propName)<br />
			#end
			#end
			</td>
		</tr>
		#end	
	</table>
</fieldset>

<fieldset id="dimportedservices">
	<legend>${text.legend.importedServices}</legend>
	<table>
	#set( $services = $bundle.getServicesInUse())
		<tr>
			<th>${text.importedServices.bundleid}</th>
			<th>${text.importedServices.id}</th>
			<th>${text.importedServices.object}</th>
			<th>${text.importedServices.props}</th>
		</tr>	
		#foreach( $service in $services)
		<tr>
			<td><a href="?bundleID=$service.Bundle.BundleId&amp;action=details">$service.Bundle.BundleId</a></td>
			<td>$service.getProperty( "service.id")</td>
			<td>
			#foreach( $serviceClass in $service.getProperty( "objectClass"))
				$serviceClass<br />
			#end
			</td>
			<td>
			#foreach( $propName in $service.getPropertyKeys())
			#if( $propName != "service.id" && $propName != "objectClass")
				$propName = $service.getProperty( $propName)<br />
			#end
			#end
			</td>			
		</tr>
		#end
	</table>
</fieldset>
<div class="buttonBar">
	<a class="button" id="backButton" href="$request.requestURI">${text.goBackToOverview}</a>
</div>