## Set the page title
#set( $page_title = "Bundle Controlpage" )

## the regular content
#if( $bundle)
	#parse('/resources/templates/BundleInfoView.vm')
#else
	#parse('/resources/templates/BundleListView.vm')
#end
