## Activate onload
#set ( $bodyonload = "initTabs('runtimeinformation');" )
<h2>Bundle Info</h2>

<ul class="tabs">
	<li><a href="#druntimeinformation" onclick="fshow('runtimeinformation');" id="truntimeinformation">Runtime Information</a></li>
	<li><a href="#dbundlemanifest" onclick="fshow('bundlemanifest');" id="tbundlemanifest">Bundle Manifest</a></li>
	<li><a href="#dexportedservices" onclick="fshow('exportedservices');" id="texportedservices">Exported Services</a></li>
	<li><a href="#dimportedservices" onclick="fshow('importedservices');" id="timportedservices">Imported Services</a></li>
</ul>

<br />
<br />

<fieldset id="druntimeinformation">
	<legend>Runtime Information</legend>
	<table>
		<tr><th>Name</th><th>Value</th></tr>
		<tr><td><b>ID</b></td><td>$bundle.BundleId</td></tr>
		<tr><td><b>Location</b></td><td>$bundle.Location</td></tr>
		<tr><td><b>State</b></td><td>$states.get($bundle.state)</td></tr>
		<tr><td><b>Last Modified</b></td><td>$dateTool.format('medium',$bundle.LastModified)</td></tr>
	</table>
</fieldset>

<fieldset id="dbundlemanifest">
	<legend>Bundle Manifest</legend>
	<table>
		<tr><th>Name</th><th>Value</th></tr>
		#set($headers = $bundle.getHeaders())	
		#foreach($name in $headers.keys())		
		<tr>
			<td><b>$name</b></td>
			<td>
			#if( $name == "Import-Package" || $name == "Export-Package" || $name == "Private-Package" || $name == "Ignore-Package" || $name == "Bundle-ClassPath" || $name == "Embed-Dependency")			
			#foreach( $package in $headers.get($name).split(","))
 				$package<br />
			#end
			#else
			#set( $value = $headers.get( $name))
			#if( $value.startsWith("http:") || $value.startsWith("https:"))
				<a href="$value">$value</a>
			#else
				$value
			#end				
			#end
			</td>
		</tr>
		#end
	</table>
</fieldset>

<fieldset id="dexportedservices">
	<legend>Exported Services</legend>
	<table>
	#set( $services = $bundle.getRegisteredServices())
		<tr>
			<th>Servicd ID</th>
			<th>Object Classes</th>
			<th>Properties</th>
		</tr>
		#foreach( $service in $services)
		<tr>
			<td>$service.getProperty("service.id")</td>
			<td>
			#foreach( $serviceClass in $service.getProperty( "objectClass"))
  				$serviceClass<br />
			#end
			</td>
			<td>
			#foreach( $propName in $service.getPropertyKeys())
			#if( $propName != "service.id" && $propName != "objectClass")
				$propName = $service.getProperty( $propName)<br />
			#end
			#end
			</td>
		</tr>
		#end	
	</table>
</fieldset>

<fieldset id="dimportedservices">
	<legend>Imported Services</legend>
	<table>
	#set( $services = $bundle.getServicesInUse())
		<tr>
			<th>Bundle ID</th>
			<th>Service ID</th>
			<th>Object Classes</th>
			<th>Properties</th>
		</tr>	
		#foreach( $service in $services)
		<tr>
			<td><a href="?bundleID=$service.Bundle.BundleId&amp;action=details">$service.Bundle.BundleId</a></td>
			<td>$service.getProperty( "service.id")</td>
			<td>
			#foreach( $serviceClass in $service.getProperty( "objectClass"))
				$serviceClass<br />
			#end
			</td>
			<td>
			#foreach( $propName in $service.getPropertyKeys())
			#if( $propName != "service.id" && $propName != "objectClass")
				$propName = $service.getProperty( $propName)<br />
			#end
			#end
			</td>			
		</tr>
		#end
	</table>
</fieldset>
