## getting resourcebundle to translate site
#set( $text = $resourceTool.bundle('OSGI-INF/l10n/bundleview'))

## Set the page title
#set( $page_title = ${text.browser.title} )

## the regular content
#if( $bundle)
	#parse('/resources/templates/BundleInfoView.vm')
#else
	#parse('/resources/templates/BundleListView.vm')
#end
