#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2009 the original author or authors.
 *
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0").
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 *
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#
## ---------------------------------------------------------------------------------------
## Define some macros 
#macro(attribValueField $attrMetadataMap $attributeID $attribType $attribCardinality $attribValue)
	#set($attrMetadata = $attrMetadataMap.get($attributeID))
	#set($isPwd = $attributeID.toLowerCase().contains("password"))
	#set($isMulti = false)
	#if($attrMetadata)
		#set($isMulti = $attrMetadata.multiline())
		#set($isPwd = $isPwd || $attrMetadata.password())
	#end
			
	#if($attribType == "Boolean")
		<input type="radio" name="$attributeID" id="true$attributeID" value="true" #if($attribValue)checked="checked"#end>
		<label for="true$attributeID">${text.listConfig.lable.yes}</label>
		&nbsp;
		<input type="radio" name="$attributeID" id="false$attributeID" value="false" #if(!$attribValue)checked="checked"#end>
		<label for="false$attributeID">${text.listConfig.lable.no}</label> 
	#else	
    	#if($attribType == "String" && $isMulti)
    		<textarea name="$attributeID">$!attribValue</textarea>
    	#elseif($attribType == "String" && $isPwd)
    		<input type="password" name="$attributeID" value="$!attribValue" />
    	#else
    		<input type="text" name="$attributeID" value="$!attribValue" />
    	#end
	#end
#end
## ---------------------------------------------------------------------------------------

## getting resourcebundle to translate site
#set($text = $resourceTool.bundle('OSGI-INF/l10n/configview'))

## TODO redirect browser if the servlet path-prefix has changed
#if($delayedRedirect)
	#set($redirectURL = "$request.getScheme()://$request.getServerName():$request.getServerPort()$delayedRedirect")
	#set($h1 = "<meta http-equiv='Refresh' content='5; url=$redirectURL'>")
	#set($page_headers = [$h1])
#end

## Set the page title
#set( $page_title = ${text.browser.pageTitle} )

## getting required managers
#set($servletManager = $manager.getService('org.paxle.gui.IServletManager'))
#set($configAdmin = $manager.getService( "org.osgi.service.cm.ConfigurationAdmin"))
#set($metaTypeService = $manager.getService( "org.osgi.service.metatype.MetaTypeService"))

## ERROR MESSAGE BOX
#if($errorMsg)
	<p class="box error">$errorMsg</p>
#end

#if( $metaTypeService && $configAdmin)
	<h2>${text.tab.configManagement} #if($paramParser.getString("viewImportedConfig"))- ${text.import.title}#end</h2>
	#if( $paramParser.getString("bundleID") && $paramParser.getString("pid"))
		## the service-PID for which the configuration should be displayed
		#set($PID = $paramParser.getString("pid"))
		
		## the bundle the give service belongs to
		#set($bundleID = $paramParser.getString("bundleID"))		
		#set($bundle = $manager.getBundle($mathTool.toInteger($bundleID)))
		
		## load service metatypes
		#set($ocd = ${configView.getObjectClassDefinition($request, $manager,$bundle,$PID)})
		#if($ocd)										
			<p>
				<p>
					<img src="?bundleID=$bundleID&amp;pid=$PID&amp;getImage=" alt="${ocd.getName()}"/>
					<strong>$ocd.getName()</strong>&nbsp;[Bundle <a href="bundle?bundleID=$bundleID&amp;action=details">$bundleID</a>]</br>
					<div class="descriptionText">
						#if($ocd.getDescription())
							#set($desc = $ocd.getDescription())
							$desc.replaceAll("\n", "<br />")
						#end
					</div>
				</p>						
				    					
				#if($paramParser.getString("viewImportedConfig"))
					<div>${text.import.viewDetailedConfig}:</div>
					
					## getting configuration properties that can be imported
					#set($configProps = ${importedConfigProps.get($PID)})
				#else
					<div>${text.listConfig.viewDetailedConfig}:</div>
					
					## getting the current configuration
					#set($configProps = $configAdmin.getConfiguration($PID,${bundle.getLocation()}).getProperties())
				#end
				
				## getting the configuration attributes
				#set($attributes = $ocd.getAttributeDefinitions(-1))
				#if($attributes)
					#set($attrMetadataMap = $configView.getAttributeMetadataMap($ocd))
					<form action="" method="post">
						<input type="hidden" name="pid" value="$PID"/>
						<input type="hidden" name="bundleID" value="${bundle.getBundleId()}"/>
						
						<table>
						<tr>
							<th>${text.listConfig.name}</th>
							<th>${text.listConfig.type}</th>
							<th>${text.listConfig.value}</th>
							<th>${text.listConfig.desc}</th>
                    	</tr>
                    	#foreach($attribute in $attributes)
							#set($attributeID = ${attribute.getID()})								
							#set($attribValue = ${configView.getPropertyValue($configProps,$attribute)})
							#set($attribType = ${dataTypes.get($attribute.getType())})
							#set($attribCardinality = ${attribute.getCardinality()})
							#set($optionsAvailable = ${attribute.getOptionLabels()} && $listTool.size(${attribute.getOptionLabels()}) > 0)
							#set($optionLabels = ${attribute.getOptionLabels()})
							#set($optionValues = ${attribute.getOptionValues()})
							
                    		<tr class="$color">
                    			<td>$attribute.getName()</td>
								<td><tt>$attribType</tt></td>
                    			<td>
									#if($optionsAvailable)
										<select name="$attributeID"
										#set($numOptions = $listTool.size($optionLabels))
										#if($attribCardinality == 0)
											size="1"
										#else
											multiple="multiple"
											size="#if($attribCardinality > 5)5#else${numOptions}#end"
										#end
										>
										#foreach($optionLabel in $optionLabels)
											#set($idx = $velocityCount - 1)
											#set($optionValue = ${listTool.get($optionValues,$idx)})													
											<option value="$optionValue"
												#if(${listTool.isArray($attribValue)})
													#if(${listTool.contains($attribValue,$optionValue)})selected="selected"#end
												#else
													#if($optionValue==$attribValue)selected="selected"#end
												#end
											>$optionLabel</option>                                               
										#end
										</select>
									#else 										
										#if(${listTool.isArray($attribValue)})
											#foreach($attribValueItem in $attribValue)
												#attribValueField($attrMetadataMap,$attributeID,$attribType,$attribCardinality,$attribValueItem)
											#end
										#else
											#attribValueField($attrMetadataMap,$attributeID,$attribType,$attribCardinality,$attribValue)
										#end	
									#end
								</td>
								<td class="descriptionText">
									#if($attribute.getDescription())
    									#set($desc = ${attribute.getDescription()})
    									$desc.replaceAll("\n", "<br />")
									#end
									#if($attributeID.toLowerCase().contains("password"))
										<p><em>${text.listConfig.passwordPlaintextWarning}</em></p>
									#end
								</td>
                    		</tr>                            		
                    	#end
                    	</table>
                    	<div class="buttonBar">
						#if(!$paramParser.getString("viewImportedConfig"))
							<input type="submit" name="doEditConfig" value="${text.listConfig.doChange}"/>
							<input type="submit" name="doResetConfig" value="${text.listConfig.doReset}" />
							<input type="submit" name="doExportConfig" value="${text.listConfig.doExport}"/>
						#else
							<input type="submit" name="doImportConfig" value="${text.listConfig.doImport}"/>
							<input type="hidden" name="viewImportedConfig"/>
						#end
						<a class="button" id="backButton" href="#if($paramParser.getString("viewImportedConfig"))?viewImportedConfig=#end">${text.listConfig.goBackToOverview}</a>
						</div>
					</form>
				#end
				<hr/>
			</p>
		#end
		
		#if($PID == "org.paxle.gui.IStyleManager")
			<b>${text.styleManager.uploadStyles}</b>
            		<form enctype="multipart/form-data" method="post" action="?doInstallStyle=">
            		<p>
            			<input type="file" name="styleJar" size="60" />
            			<input type="submit" name="doUpload" value="${text.styleManager.doInstall}" />
            		</p>
            		</form>
		#end	
	#else 
		#if($paramParser.getString("viewImportedConfig"))
			#if(${importedConfigProps.size()} > 0)
				<div class="descriptionText">${text.import.settingsAvailable}:</div>
			#else
				<div class="descriptionText" style="color:red;">${text.import.settingsUnavailable}</div>
			#end
		#else
			<div class="descriptionText">${text.listConfig.settingsAvailable}</div>
		#end
		<table>
		<tr>
			<th>&nbsp;</th>
			<th>${text.listConfig.name}</th>
			<th>${text.listConfig.desc}</th>
		</tr>
		#set($color = $alternatorTool.auto('r1','r2'))
		
    		## loop through each bundle to see if there are any metatypes	
    		#foreach($bundle in $manager.getBundles())
    			#set($ocdCounter = 0)    			
			#foreach($PID in ${configView.getMetaTypePIDs($manager,$bundle)})

				## load service metatypes
				#set($ocd = ${configView.getObjectClassDefinition($request, $manager,$bundle,$PID)})

				## display data
				#if($ocd && (!$paramParser.getString("viewImportedConfig") || ${importedConfigProps.containsKey($PID)}))
					#if($ocdCounter == 0)
						#set($bundleHeaders = $bundle.getHeaders())
			    			<tr><th class="sub" colspan="3">$bundleHeaders.get('Bundle-Name')</th></tr>
			    		#end
			    		#set($ocdCounter = $ocdCounter + 1) 
					<tr class="$color">
						<td><img src="?bundleID=${bundle.getBundleId()}&amp;pid=$PID&amp;getImage=" alt="${ocd.getName()}"/></td>
						<td>
							<a href="?bundleID=${bundle.getBundleId()}&amp;pid=$PID#if($paramParser.getString("viewImportedConfig"))&amp;viewImportedConfig=#end">${ocd.getName()}</a><br/>
							<tt>[$PID]</tt>
						</td>
						<td class="descriptionText">
							#if($ocd.getDescription())
    							#set($desc = ${ocd.getDescription()})
    							$desc.replaceAll("\n", "<br />")
							#end
						</td>
					</tr>							
				#end
    			#end
		#end
		</table>
		
		#if(!$paramParser.getString("viewImportedConfig"))
		<p><b>${text.export.title}</b></p>
		<div class="descriptionText">${text.export.desc}</div>
			<form action="">
							<p>
								<input type="submit" name="doExportConfig" value="${text.export.doExport}" />
							</p>
		</form>	
				
		<p><b>${text.import.title}</b></p>
		<div class="descriptionText">${text.import.desc}</div>
		<form enctype="multipart/form-data" method="post" action="?viewImportedConfig=">
			<p>
				<input type="file" name="configFile" size="60" />
				<input type="submit" name="doUpload" value="${text.import.doUpload}" />
			</p>
		</form>	
		#end
	#end
#else 
	#if(!$configAdmin)<div class="bundleNotInstalled">${text.cmBundle.notInstalled}</div>#end
	#if(!$metaTypeService)<div class="bundleNotInstalled">${text.metaTypeBundle.notInstalled}</div>#end
#end
