#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2009 the original author or authors.
 *
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0").
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 *
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#
#if(!$text)
	#set( $text = $resourceTool.bundle('OSGI-INF/l10n/crawlerview'))
#end
#if(${manager.getService("org.paxle.core.doc.ICommandProfileManager")})
<fieldset>
	<legend>${text.cmdprofile.legend}</legend>
	<table>
	<tr>
		<th>${text.cmdprofile.table.col.name}</th>
		<th>${text.cmdprofile.table.col.value}</th>
		<th>${text.cmdprofile.table.col.desc}</th>
	</tr>
	
	<tr>
		<td>${text.cmdprofile.name.name}</td>
		<td><input type="text" id="profileName" name="profileName" value="$!defaultName"/></td>
		<td class="descriptionText">${text.cmdprofile.name.desc}</td>
	</tr>
	
	<tr>
		<td>${text.cmdprofile.depth.name}</td>
		<td><input type="text" id="crawlDepth" name="crawlDepth" value="$!defaultDepth"/></td>
		<td class="descriptionText">${text.cmdprofile.depth.desc}</td>
	</tr>
	
	<!-- restrict URIs -->
	#set($toggleSpecificLinks = "Effect.toggle('specificLinks', 'appear', { delay: 0, duration: 0 });")
	<tr>
		<td>${text.cmdprofile.filterURL.name}</td>
		<td>
			<input id="crawlAllLinks" type="radio" checked="checked" value="all" name="linkMode" onclick="$toggleSpecificLinks"/>
			<label for="crawlAllLinks">${text.cmdprofile.filterURL.all}</label>
			<br/>
			<input id="crawlSpecificLinks" type="radio" value="specific" name="linkMode" onclick="$toggleSpecificLinks"/>
			<label for="crawlSpecificLinks">${text.cmdprofile.filterURL.restrict}</label>
			
			<div id="specificLinks">
				<input id="useRegexpFilter" type="radio" value="regexp" name="linkFilterMode" checked="checked"/>
				<label for="useRegexpFilter">${text.cmdprofile.filterURL.regexp}</label>
				<input type="text" id="links.regexpFilter" name="linkFilterExpressionRegexp" value=".*"/>
			</div>
			<script type="text/javascript">
				// <![CDATA[
				$toggleSpecificLinks
				// ]]>
			</script>		
		</td>
		<td class="descriptionText">${text.cmdprofile.filterURL.desc}</td>
	</tr>
	
	<!-- restrict protocols -->
	#set($toggleSpecificProtocols = "Effect.toggle('specificProtocols', 'appear', { delay: 0, duration: 0 });")
	<tr>
		<td>${text.cmdprofile.filterProto.name}</td>
		<td>				
			<input id="crawlAllProtocols" type="radio" checked="checked" value="all" name="protocolMode" onclick="$toggleSpecificProtocols"/>
			<label for="crawlAllProtocols">${text.cmdprofile.filterProto.all}</label>
			<br/>
			<input id="crawlSpecificProtocols" type="radio" value="specific" name="protocolMode" onclick="$toggleSpecificProtocols"/>
			<label for="crawlSpecificProtocols">
				${text.cmdprofile.filterProto.restrict}<br/>
				<span class="error">Not functional yet!</span>
			</label>
			
			<div id="specificProtocols">
    			#set($subCrawlerManager = $manager.getService( "org.paxle.crawler.ISubCrawlerManager"))
    			#set($protocols = $subCrawlerManager.getProtocols())
    			<select name="protocols" size="5" multiple="multiple">
    				#foreach($protocol in $protocols)
    					<option selected="selected">$protocol</option>
    				#end
    			</select>			
			</div>
			<script type="text/javascript">
				// <![CDATA[
				$toggleSpecificProtocols
				// ]]>
			</script>		
		</td>
		<td class="descriptionText">${text.cmdprofile.filterProto.desc}</td>
	</tr>
	
	<!-- restrict mime-types -->
	#set($toggleSpecificMimeTypes = "Effect.toggle('specificMimeTypes', 'appear', { delay: 0, duration: 0 });")
	<tr>
		<td>${text.cmdprofile.filterMime.name}</td>	
		
		<td>	
			<input id="crawlAllMimetypes" type="radio" checked="checked" value="all" name="mimetypeMode"  onclick="$toggleSpecificMimeTypes"/>
			<label for="crawlAllMimetypes">${text.cmdprofile.filterMime.all}</label>
			<br/>
			<input id="crawlSpecificMimetypes" type="radio" value="specific" name="mimetypeMode"  onclick="$toggleSpecificMimeTypes"/>
			<label for="crawlSpecificMimetypes">
				${text.cmdprofile.filterMime.restrict}<br/>
				<span class="error">Not functional yet!</span>
			</label>
			
			<div id="specificMimeTypes">
    			#set( $subParserManager = $manager.getService( "org.paxle.parser.ISubParserManager"))
    			#set( $mimeTypes = $subParserManager.getMimeTypes())
    			<select name="mimetypes" size="5" multiple="multiple">
    				#foreach($mimeType in $mimeTypes)
    					<option selected="selected">$mimeType</option>
    				#end
    			</select>
			</div>
			<script type="text/javascript">
				// <![CDATA[
				$toggleSpecificMimeTypes
				// ]]>
			</script>	
		</td>
		<td class="descriptionText">${text.cmdprofile.filterMime.desc}</td>
	</tr>
	
	<!-- Other properties -->	
	<tr>
		<td>${text.cmdprofile.miscProps.name}</td>
		<td><textarea name="miscProperties" cols="50"></textarea></td>
		<td>${text.cmdprofile.miscProps.desc}</td>
	</tr>
	</table>
</fieldset>
#else
	<p class="error notInstalled">${text.error.noProfileManager}</p>	
#end	
