## Set the page title
#set( $page_title = "Crawler Controlpage" )

## the content

## Activate onload
#set ( $bodyonload = "initTabs('singlecrawl');" )

<ul class="tabs">
	<li><a href="#dsinglecrawl" onclick="fshow('singlecrawl');" id="tsinglecrawl">Crawl URL</a></li>
	<li><a href="#dmasscrawl" onclick="fshow('masscrawl');" id="tmasscrawl">Mass Crawl</a></li>
	<li><a href="#dquickcrawl" onclick="fshow('quickcrawl');" id="tquickcrawl">Crawler Bookmarklet</a></li>
</ul>

#if( $errorUrls && $errorUrls.size() > 0)
<p class="error">
	The following URLs could not be crawled because of following errors:		
	<ul>
	#foreach ( $entry in $errorUrls.entrySet())
		<li><a href="$entry.getKey()">$entry.getKey()</a>: $entry.getValue()</li>
	#end
	</ul>
</p>
#end

<form action="/crawler" method="post">
<fieldset>
	<legend>Profile</legend>
	<table>
	<tr><td>Profile Name:</td><td><input type="text" id="crawlDepth" name="profileName" value="$!defaultName"/></td></tr>
	<tr><td>Crawl Depth:</td><td><input type="text" id="crawlDepth" name="crawlDepth" value="$!defaultDepth"/></td></tr>
	</table>
</fieldset>

<fieldset id="dsinglecrawl">
	<legend>Crawl URL</legend>	
		<p>
			<input type="text" id="startURL" name="startURL" value="http://" />
			<input type="submit" name="crawlSingle" value="Start Crawl" />
		</p>
</fieldset>

<fieldset id="dmasscrawl">
	<legend>MassCrawl URL</legend>
		<p>
			<textarea cols="80" rows="15" name="startURL2"></textarea>
			<input type="submit" name="crawlMass" value="Start Crawl" />
		</p>
</fieldset>
</form>

<fieldset id="dquickcrawl">
	<legend>Crawler Bookmarklet</legend>
	
	<div>
		Simply drag and drop the link below into the bookmark-toolbar of your browser.<br/>
		While browsing you can click on this bookmark to crawl the website that is currently viewed in your browser.
	</div>
	#set($rootPath = "${request.getScheme()}://${request.getServerName()}:${request.getServerPort()}${request.getServletPath()}")
	<a class="quickCrawl" href="javascript:w = window.open('$rootPath?crawlQuick=&amp;profileName='+escape(document.title)+'&amp;startURL='+escape(location.href),'_blank','height=600,width=800,resizable=yes,scrollbar=no,directory=no,menubar=no,location=no');w.focus();">
		Paxle-QuickCrawl
	</a>
</fieldset>
