#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2008 the original author or authors.
 * 
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0"). 
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt 
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 * 
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#

## getting resourcebundle to translate site
#set( $text = $resourceTool.bundle('OSGI-INF/l10n/loginview'))

## Set the page title
#set($page_title = ${text.browser.title})

## Activate onload
#set ( $bodyonload = "initTabs('formLogin');" )

<ul class="tabs">
	<li><a href="#dformLogin" onclick="fshow('formLogin');" id="tformLogin">${text.tabs.formLogin}</a></li>
	#if($manager.hasBundle("org.paxle.gui.openid"))
		<li><a href="#dopenIDLogin" onclick="fshow('openIDLogin');" id="topenIDLogin">${text.tabs.openIDLogin}</a></li>
	#end
</ul>

<fieldset id="dformLogin">
	<legend>${text.legend.formLogin}</legend>
    <form action="" method="post">
    <div>
    	#if( $errorMsg)
    		<p class="error">$errorMsg</p>
    	#end
    	
        <div>${text.formLogin.welcome}</div>
        <div id="login">
            ${text.formLogin.username}:<br/>    
            <input type="text" class="inputtext" name="login.username" id="login.username-input" value="" title=""/>
            
            ${text.formLogin.userpwd}:<br/>
            <input type="password" class="inputtext" name="login.password" id="login.password-input" value="" title=""/>
            <input type="submit" class="submit" value="${text.formLogin.doLogin}" id="login.login" name="doLogin"/>          
        </div>
    </div>
    </form>
</fieldset>
	
#if($manager.hasBundle("org.paxle.gui.openid"))
<fieldset id="dopenIDLogin">
	<legend>${text.legend.openIDLogin}</legend>
		
		<div id="login">
    		<form action="/openid/auth" method="post">
    			<input type="text" class="openid" name="login.openid" id="login.openid-input" value="http://" title="" size="28"/>
    			<input type="submit" class="submit" value="${text.openIDLogin.doLogin}" id="login.login" name="doLogin"/>
    		</form>
		</div>
		<div>
			<a href="http://alexandria.wiki.sourceforge.net/OpenID">${text.openIDLogin.learnMore}</a>
			-
			<a href="http://openid.net/get/">${text.openIDLogin.getOpenID}</a>
		</div>
</fieldset>
#end
