## Set the page title
#set( $page_title = "Log View" )

## the regular content
<h1>View Log:</h1>
#set($logReader = $manager.getService("org.osgi.service.log.LogReaderService"))
#if($logReader)
	<dl>
	#foreach($logEntry in $logReader.getLog())
		#set($level = $logEntry.getLevel())			
		
		<dt>$logEntry.getTime()</dt>
		<dd class="box 
		#if($level == $LEVEL_ERROR)error
		#elseif($level == $LEVEL_WARNING)warning
		#elseif($level == $LEVEL_INFO)info
		#elseif($level == $LEVEL_DEBUG)debug
		#end
		">
		#<span>#$logEntry.getMessage()</span>
		#if($logEntry.getException())
			<p>$logEntry.getException()</p>
		#end
		</dd>
	#end
	</dl>
#else
	<p class="box warning">No LogReaderService found</p>
#end
