#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2008 the original author or authors.
 * 
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0"). 
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt 
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 * 
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#

## possible datatype list
#set($dataTypes = ['Integer','Float','String','Boolean'])

#macro(statusVarValue $statusVar)
	#set($statusVarType = $statusVar.getType())
	#if ($statusVarType == 0) $statusVar.getInteger()
	#elseif ($statusVarType == 1) $statusVar.getFloat()
	#elseif ($statusVarType == 2) $statusVar.getString()
	#elseif ($statusVarType == 3) $statusVar.getBoolean()
	#end
	
#end

#if($paramParser.getStrings("monitorableId"))
	#set($monitorables = $paramParser.getStrings("monitorableId"))
#else
	#set($monitorables = $monitorAdmin.getMonitorableNames())
#end
	
#if($listTool.size($monitorables) > 1)	
	<div class="summary">#foreach($monitorable in $sortTool.sort($monitorables))
		<div style="white-space:nowrap;">|&nbsp;<a href="#$monitorable">$monitorable</a>&nbsp;</div>
	#end&nbsp;|
	</div>
#end
#if($monitorables)		
	<table>
	<tr>
		<th>${text.tab.variables.name}</th>
		<th>${text.tab.variables.type}</th>
		<th>${text.tab.variables.date}</th>
		<th>${text.tab.variables.value}</th>
		<th>${text.tab.variables.desc}</th>
	</tr>
	#foreach($monitorable in $sortTool.sort($monitorables))
		#set($statusVariables = $monitorAdmin.getStatusVariables($monitorable))
		#if($statusVariables)				
			<tr>
				<th class="sub" colspan="5"><a name="$monitorable" href="?monitorableId=$monitorable&amp;type=$activeTab">$monitorable</a></th>
			</tr>			
			#foreach($statusVariable in $sortTool.sort($statusVariables,["ID:asc"]))
			<tr>
				<td><tt><b>$statusVariable.getID()</b></tt></td>
				<td><tt>$listTool.get($dataTypes,$statusVariable.getType())</tt></td>
				<td><tt>$dateTool.format('medium',$statusVariable.getTimeStamp())</tt></td>
				<td><tt>#statusVarValue($statusVariable)</tt></td>
				<td><div class="descriptionText">$monitorAdmin.getDescription("$monitorable/$statusVariable.getID()")</div></td>
			</tr>
			#end
		#end			
	#end
	</table>
	
	#if($paramParser.getString("monitorableId"))
	<div class="buttonBar">
		<a class="button" id="backButton" href="$request.requestURI?type=vars">${text.goBackToOverview}</a>
	</div>
	#end
#end
