#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2009 the original author or authors.
 *
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0").
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 *
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#
#if( $services.size() > 0)
	#set($servletManager = $manager.getService('org.paxle.gui.IServletManager'))
    #if(!$text)
    	#set($text = $resourceTool.bundle('OSGI-INF/l10n/overview'))
    #end		
		
<fieldset class="infobox">
	<legend class="ovActivity">${text.legend.ovActivity}</legend>
	#if($servletManager.hasServlet('/chart'))
		<a href="${servletManager.getFullServletPath('org.paxle.gui.impl.servlets.ChartServlet')}?display=embedded&amp;t=ppm">
			<img class="chart" id="ovActivityChart" src="${servletManager.getFullServletPath('org.paxle.gui.impl.servlets.ChartServlet')}?t=ppm&amp;w=385&amp;h=200&amp;d=${dateTool.get('yyyy-M-dH:m')}" height="200" width="385" alt="${text.chart.ovActivity.alt}"/>
		</a>
	#end
	<table class="ovActivityTable">
		<tr>
			<th>#</th>
			<th>${text.ovActivity.status}</th>
			<th>${text.ovActivity.component}</th>
			<th>${text.ovActivity.ppm}</th>
			<th>${text.ovActivity.active}</th>
			<th>${text.ovActivity.enqueued}</th>
		</tr>
		#foreach($entry in $services)
    		#if ($entry.getCount() == 1)
    			#set($name = $entry.getName())
    		#else
    			#set($name = $entry.getName() + "s")
    		#end
    		<tr>
    			<td><a title="${text.ovActivity.viewSubServices.insert($entry.getName())}" 
    				   href="${servletManager.getFullServletPath('org.paxle.gui.impl.servlets.StatusView')}#d${entry.getName().toLowerCase()}">${entry.getCount()}</a>
    			</td>	
    			<td>
    				<form method="get" action="">
    					<div>
    					#if( $entry.service.isPaused() == true)
    						<input type="hidden" name="service" value="$entry.getName()" />
    						<input class="btnResume" type="submit" name="resume" value="${text.ovActivity.doResume}" />
    					#else 
    						<input type="hidden" name="service" value="$entry.getName()" />
    						<input class="btnPause" type="submit" name="pause" value="${text.ovActivity.doPause}" />
    					#end
    					</div>
    				</form>
    			</td>
    			<td>
    				#if ( $queueServletExists == true)
    				<a href="${servletManager.getFullServletPath('org.paxle.gui.impl.servlets.QueueView')}?queue=$entry.getId()" 
    				   title="${text.ovActivity.viewQueue.insert($entry.getName())}">$name</a>
    				#else
    				$name
    				#end
    			</td>
    			<td>${entry.getService().getPPM()}</td>
    			<td>${entry.getService().getActiveJobCount()}</td>
    			<td>${entry.getService().getEnqueuedJobCount()}</td>
    		</tr>
    					
        	#if($monitorableTool.exists(${entry.getId()}))
        	    #set( $statuscode = $monitorableTool.get(${entry.getId()}).get("state.code").value )
        		#if($statuscode != "OK")
    				<tr>
    					<td colspan="6" class="warning">$text.get("ovActivity.$statuscode").insert($entry.getName())</td>
    				</tr>
        		#end
        	#end	
		#end
	</table>
	<div class="lastUpdate">
		${text.lastUpdate.insert($dateTool.format('medium',$dateTool.getDate()))}
		&nbsp;<input class="updateControl" type="checkbox" onclick="controlPopulater('infoBoxActivity',this.checked);" checked="checked"/>&nbsp;$text.updateEnabled
	</div>
</fieldset>
#end
