#if( $services.size() > 0)
<fieldset class="infobox">
	<legend class="ovActivity">Activity</legend>
	<table>
		<tr>
			<th>#</th>
			<th>Status</th>
			<th>Component</th>
			<th>PPM</th>
			<th>Active</th>
			<th>Enqueued</th>
		</tr>
		#foreach( $entry in $services)
		#if ( $entry.getCount() == 1)
			#set( $name = $entry.getName())
		#else
			#set( $name = $entry.getName() + "s")
		#end
		<tr>
			<td>$entry.getCount()</td>	
			<td>
				<form method="get" action="">
					<div>
					#if( $entry.service.isPaused() == true)
						<input type="hidden" name="service" value="$entry.getName()" />
						<input class="btnResume" type="submit" name="resume" value="Resume" />
					#else 
						<input type="hidden" name="service" value="$entry.getName()" />
						<input class="btnPause" type="submit" name="pause" value="Pause" />
					#end
					</div>
				</form>
			</td>
			<td>
				#if ( $queueServletExists == true)
				<a href="/queue?queue=$entry.getId()">$name</a>
				#else
				$name
				#end
			</td>
			<td>$entry.getService().getPPM()</td>
			<td>$entry.getService().getActiveJobCount()</td>
			<td>$entry.getService().getEnqueuedJobCount()</td>
		</tr>
		#end
	</table>
</fieldset>
#end
