#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2009 the original author or authors.
 *
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0").
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 *
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#
#set($servletManager = $manager.getService('org.paxle.gui.IServletManager'))
#if(!$text)
	#set($text = $resourceTool.bundle('OSGI-INF/l10n/overview'))
#end			
		
<fieldset class="infobox" id="dsystem">
	<legend class="ovSystem">${text.legend.ovSystem}</legend>
	#if($servletManager.hasServlet('/chart'))
		<a href="${servletManager.getFullServletPath('org.paxle.gui.impl.servlets.ChartServlet')}?display=embedded&amp;t=system">
			<img class="chart" id="ovSystemChart" src="${servletManager.getFullServletPath('org.paxle.gui.impl.servlets.ChartServlet')}?t=system&amp;w=385&amp;h=200&amp;d=${dateTool.get('yyyy-M-dH:m')}" height="200" width="385" alt="${text.chart.ovSystem.alt}"/>
		</a>
	#end	
	<table>
		<tr>
			<th>${text.table.name}</th>
			<th>${text.table.value}</th>
		</tr>
		<tr>
			<td><b>${text.ovSystem.cpus}</b></td>
			<td>${runtime.availableProcessors()}</td>
		</tr>
		<tr>
			<td><b>${text.ovSystem.os}</b></td>
			<td>$sysprops.get("os.arch") $sysprops.get("os.name") $sysprops.get("os.version")</td>
		</tr>
		<tr>
			<td><b>${text.ovSystem.jvm}</b></td>
			<td>$sysprops.get("java.vendor")<br />$sysprops.get("java.runtime.name")<br />$sysprops.get("java.version")</td>
		</tr>
		<tr>
			<td><b>${text.ovSystem.osgi.insert($osgiVersion)}</b></td>
			<td>by $frameworkVendor,<br /> $frameworkVersion</td>
		</tr>
	</table>
	<div class="lastUpdate">
		${text.lastUpdate.insert($dateTool.format('medium',$dateTool.getDate()))}
		&nbsp;<input class="updateControl" type="checkbox" onclick="controlPopulater('infoBoxSystem',this.checked);" checked="checked"/>&nbsp;$text.updateEnabled
	</div>
</fieldset>
