#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2008 the original author or authors.
 * 
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0"). 
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt 
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 * 
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#

## getting required managers
#set($monitorAdmin = $manager.getService('org.osgi.service.monitor.MonitorAdmin'))
#set($servletManager = $manager.getService('org.paxle.gui.IServletManager'))

## loading resource-bundle
#if(!$text)
	#set($text = $resourceTool.bundle('OSGI-INF/l10n/overview'))
#end

<fieldset class="infobox">
	<legend class="ovDatabase">${text.legend.ovDatabase}</legend>
	#if($servletManager.hasServlet('/chart'))
		<img class="chart" id="ovDatabaseChart" src="${servletManager.getFullAlias('/chart')}?t=index&amp;w=385&amp;h=200&amp;t=${dateTool.get('yyyy-M-dH:m')}" height="200" width="385" alt="${text.chart.ovDatabase.alt}"/>
	#end
	<dl>
		<dt>${text.ovDatabase.knownDocs}:</dt><dd>$monitorAdmin.getStatusVariable('org.paxle.lucene-db/docs.known').getInteger()</dd>
	</dl>
	<div class="lastUpdate">
		${text.lastUpdate.insert($dateTool.format('medium',$dateTool.getDate()))}
		&nbsp;<input class="updateControl" type="checkbox" onclick="controlPopulater('infoBoxKnownDocuments',this.checked);" checked="checked"/>&nbsp;$text.updateEnabled
	</div>
</fieldset>


