#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2009 the original author or authors.
 *
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0").
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 *
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#
## getting resourcebundle to translate site
#set( $text = $resourceTool.bundle('OSGI-INF/l10n/overview'))

## Page title
#set($page_title = ${text.browser.title})

#set($servletManager = $manager.getService('org.paxle.gui.IServletManager'))
#set($jsPrefix = ${servletManager.getFullAlias('/js')})
#set($h1 = "<script src='$jsPrefix/prototype.js' type='text/javascript'></script>")
#set($page_headers = [$h1] )

<script type="text/javascript">
	var populaters = new Array();

	var ajaxPopulater = function (id,reload){
    		var url  = '${servletManager.getFullServletPath("org.paxle.gui.impl.servlets.OverView")}?reload=' + reload;
    		var populater = new Ajax.PeriodicalUpdater(id, url,   
    		{
			method: 'post',
			frequency: 5,
			asynchronous: true,
			decay: 1
		});
		
		populaters[id] = populater;
   	};
   	
	function controlPopulater(id, enable) { 
		var updater = populaters[id];
		if (enable) { 
			updater.start(); 
		} else { 
			updater.stop(); 
		} 
	}
   	
   	var initAjaxPopulater = function() {
		ajaxPopulater('infoBoxSystem','system');
		ajaxPopulater('infoBoxActivity','activity');
		ajaxPopulater('infoBoxKnownDocuments','knownDocuments');
		ajaxPopulater('infoBoxMemory','memory');   	
   	}
   
   	var timeout = 5000;
	setTimeout("initAjaxPopulater()",5000);
</script>

## Content
 <div id="infoBoxSystem">
	#parse('/resources/templates/OverViewSystem.vm')
 </div>

 <div id="infoBoxMemory">
	#parse('/resources/templates/OverViewMemory.vm')
 </div>
 <br style="clear:left;" />

 <div id="infoBoxKnownDocuments">
	#parse('/resources/templates/OverViewKnownDocuments.vm')
 </div>

 <div id="infoBoxActivity">
	#parse('/resources/templates/OverViewActivity.vm')
 </div>
 <br style="clear:left;" />
 
<fieldset class="infobox" id="dhost">
	<legend class="ovHost">${text.legend.ovHost}</legend>
	<table>
		<tr>
			<th>${text.table.name}</th>
			<th>${text.table.value}</th>
		</tr>
		<tr>
			<td><b>${text.ovHost.hostname}</b></td>
			<td>$monitorableTool.getStatusVariable('os.network/hostname')</td>
		</tr>
		<tr>
			<td><b>${text.ovHost.ip}</b></td>
			<td>$monitorableTool.getStatusVariable('os.network/ip-address'):$port</td>
		</tr>
	</table>
</fieldset>

<br style="clear:left;" />