#if( $services.size() > 0)
    #if(!$text)
    	#set($text = $resourceTool.bundle('OSGI-INF/l10n/overview'))
    #end		
	
<fieldset class="infobox">
	<legend class="ovActivity">${text.legend.ovActivity}</legend>
	#if($manager.getService('org.paxle.gui.IServletManager').hasServlet('/chart'))
		<img class="chart" id="ovActivityChart" src="/chart?t=ppm&w=385&h=200&t=${dateTool.get('yyyy-M-d H:m')}" height="200" width="385"/>
	#end
	<table>
		<tr>
			<th>#</th>
			<th>${text.ovActivity.status}</th>
			<th>${text.ovActivity.component}</th>
			<th>${text.ovActivity.ppm}</th>
			<th>${text.ovActivity.active}</th>
			<th>${text.ovActivity.enqueued}</th>
		</tr>
		#foreach($entry in $services)
		#if ($entry.getCount() == 1)
			#set($name = $entry.getName())
		#else
			#set($name = $entry.getName() + "s")
		#end
		<tr>
			<td>${entry.getCount()}</td>	
			<td>
				<form method="get" action="">
					<div>
					#if( $entry.service.isPaused() == true)
						<input type="hidden" name="service" value="$entry.getName()" />
						<input class="btnResume" type="submit" name="resume" value="${text.ovActivity.doResume}" />
					#else 
						<input type="hidden" name="service" value="$entry.getName()" />
						<input class="btnPause" type="submit" name="pause" value="${text.ovActivity.doPause}" />
					#end
					</div>
				</form>
			</td>
			<td>
				#if ( $queueServletExists == true)
				<a href="/queue?queue=$entry.getId()">$name</a>
				#else
				$name
				#end
			</td>
			<td>$entry.getService().getPPM()</td>
			<td>$entry.getService().getActiveJobCount()</td>
			<td>$entry.getService().getEnqueuedJobCount()</td>
		</tr>
		#end
	</table>
</fieldset>
#end
