#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2010 the original author or authors.
 *
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0").
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 *
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#

## getting required services
#set($servletManager = $manager.getService('org.paxle.gui.IServletManager'))

## loading resource-bundle
#if(!$text)
	#set($text = $resourceTool.bundle('OSGI-INF/l10n/overview'))
#end	

<fieldset class="infobox" id="dmemory">
	<legend class="ovMemory">${text.legend.ovMemory}</legend>
		
	#if($manager.getService('org.paxle.gui.IServletManager').hasServlet('/chart'))
		<a href="${servletManager.getFullServletPath('org.paxle.tools.charts.impl.gui.ChartServlet')}?display=embedded&amp;t=mem">
			<img class="chart" id="ovMemoryChart" src="${servletManager.getFullServletPath('org.paxle.tools.charts.impl.gui.ChartServlet')}?t=mem&amp;w=385&amp;h=200&amp;d=${dateTool.get('yyyy-M-dH:m')}" height="200" width="385" alt="${text.chart.ovMemory.alt}"/>
		</a>
	#end
	<table>
		<tr>
			<th>${text.table.name}</th>
			<th>${text.table.value}</th>
		</tr>
		##
		## Memory usage monitorable
		##
		#if($monitorableTool.exists('java.lang.runtime'))
		<tr>
			<td><b>${text.ovMemory.memUsed}</b></td>
			#set($memUsed = $monitorableTool.getStatusVariable('java.lang.runtime/memory.used').number / 1024)
			<td>$numberTool.format($memUsed) MB</td>
		</tr>
		<tr>
			<td><b>${text.ovMemory.memFree}</b></td>
			#set($memFree = $monitorableTool.getStatusVariable('java.lang.runtime/memory.free').number / 1024)
			<td>$numberTool.format($memFree) MB</td>
		</tr>
		<tr>
			<td><b>${text.ovMemory.memTotal}</b></td>
			#set($memTotal = $monitorableTool.getStatusVariable('java.lang.runtime/memory.total').number / 1024)
			<td>$numberTool.format($memTotal) MB</td>
		</tr>
		#end
		
		##
		## Disk usage monitorable
		##
		#if($monitorableTool.exists('os.disk'))
		<tr>
			<td><b>${text.ovMemory.diskFree}</b></td>
			#set($diskFree = $monitorableTool.getStatusVariable('os.disk/disk.space.free').number)
			<td>$numberTool.format($diskFree) MB</td>
		</tr>
		#end
		<tr>
			<td colspan="2">
				<form action="/overview" method="post">
					<div>
						<input type="hidden" name="gc" value="GC" />
						<input type="submit" value="${text.ovMemory.memMisc.runGC}" />
					</div>
				</form>
			</td>
		</tr>
	</table>
	<div class="lastUpdate">
		${text.lastUpdate.insert($dateTool.format('medium',$dateTool.getDate()))}
		&nbsp;<input class="updateControl" type="checkbox" onclick="controlPopulater('infoBoxMemory',this.checked);" checked="checked"/>&nbsp;$text.updateEnabled
	</div>
</fieldset>
