## getting resourcebundle to translate site
#set( $text = $resourceTool.bundle('OSGI-INF/l10n/overview'))

## Page title
#set($page_title = ${text.browser.title})

#set($servletManager = $manager.getService('org.paxle.gui.IServletManager'))
#set($jsPrefix = ${servletManager.getFullAlias('/js')})
#set($h1 = "<script src='$jsPrefix/prototype.js' type='text/javascript'></script>")
#set($page_headers = [$h1] )

<script type="text/javascript">
	var ajaxPopulater = function (id,reload){
    	var url  = '${servletManager.getFullAlias("/overview")}?reload=' + reload;
    	new Ajax.PeriodicalUpdater(id, url,   
    	{
			method: 'post',
			frequency: 5,
			asynchronous: true,
			decay: 1
		});
   	};
   
	ajaxPopulater('infoBoxActivity','activity');
 	ajaxPopulater('infoBoxKnownDocuments','knownDocuments');
	ajaxPopulater('infoBoxMemory','memory');
</script>

## Content
<fieldset class="infobox" id="dsystem">
	<legend class="ovSystem">${text.legend.ovSystem}</legend>
	<table>
		<tr>
			<th>${text.table.name}</th>
			<th>${text.table.value}</th>
		</tr>
		<tr>
			<td><b>${text.ovSystem.cpus}</b></td>
			<td>${runtime.availableProcessors()}</td>
		</tr>
		<tr>
			<td><b>${text.ovSystem.os}</b></td>
			<td>$sysprops.get("os.arch") $sysprops.get("os.name") $sysprops.get("os.version")</td>
		</tr>
		<tr>
			<td><b>${text.ovSystem.jvm}</b></td>
			<td>$sysprops.get("java.vendor")<br />$sysprops.get("java.runtime.name")<br />$sysprops.get("java.version")</td>
		</tr>
		<tr>
			<td><b>${text.ovSystem.osgi.insert($osgiVersion)}</b></td>
			<td>by $frameworkVendor,<br />version $frameworkVersion</td>
		</tr>
	</table>
</fieldset>

<fieldset class="infobox" id="dhost">
	<legend class="ovHost">${text.legend.ovHost}</legend>
	<table>
		<tr>
			<th>${text.table.name}</th>
			<th>${text.table.value}</th>
		</tr>
		<tr>
			<td><b>${text.ovHost.hostname}</b></td>
			<td>$hostname</td>
		</tr>
		<tr>
			<td><b>${text.ovHost.ip}</b></td>
			<td>$ip:$port</td>
		</tr>
	</table>
</fieldset>

 <div id="infoBoxMemory">
	#parse('/resources/templates/OverViewMemory.vm')
 </div>

 <div id="infoBoxKnownDocuments">
	#parse('/resources/templates/OverViewKnownDocuments.vm')
 </div>

 <div id="infoBoxActivity">
	#parse('/resources/templates/OverViewActivity.vm')
 </div>
 <br style="clear:left;" />
