#if( $indexSearcher)
    #if(!$text)
    	#set($text = $resourceTool.bundle('OSGI-INF/l10n/overview'))
    #end	
    <fieldset class="infobox">
    	<legend class="ovDatabase">${text.legend.ovDatabase}</legend>
		#if($manager.getService('org.paxle.gui.IServletManager').hasServlet('/chart'))
			<img class="chart" id="ovDatabaseChart" src="/chart?t=index&w=385&h=200&t=${dateTool.get('yyyy-M-d H:m')}" height="200" width="385"/>
		#end
    	<dl>
    		<dt>${text.ovDatabase.knownDocs}:</dt><dd>$indexSearcher.getDocCount()</dd>
    	</dl>
    </fieldset>
#end



