#if( $indexSearcher)
    #if(!$text)
    	#set($text = $resourceTool.bundle('OSGI-INF/l10n/overview'))
    #end	
    <fieldset class="infobox">
    	<legend class="ovDatabase">${text.legend.ovDatabase}</legend>
    	<dl>
    		<dt>${text.ovDatabase.knownDocs}:</dt><dd>$indexSearcher.getDocCount()</dd>
    	</dl>
    </fieldset>
#end



