#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2010 the original author or authors.
 *
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0").
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 *
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#

## Set the page title
#set( $page_title = "Paxle Status Page" )
## Activate onload
#set ( $bodyonload = "initTabs('peerInfo');" )

## ---------------------------------------------------------------------------------------
## Define some macros 
#macro( serviceList $services)
<table>
	<tr>
		<th>Service ID</th>
		<th>Received Messages</th>
		<th>Received Bytes</th>
		<th>Sent Messages</th>
		<th>Sent Bytes</th>
	</tr>
	#if( $services)
	#foreach( $service in $services)
	<tr>
		<td>$service.getServiceIdentifier()</td>
		<td>$service.getReceivedMessageCount()</td>
		<td>$service.getRecievedBytesCount()</td>
		<td>$service.getSentMessageCount()</td>
		<td>$service.getSentBytesCount()</td>			
	</tr>
	#end
	#end
</table>
#end
## ---------------------------------------------------------------------------------------

<ul class="tabs">
	<li><a href="#dpeerInfo" onclick="fshow('peerInfo');" id="tpeerInfo">Peer Info</a></li>
	<li><a href="#dpeerList" onclick="fshow('peerList');" id="tpeerList">Peer List</a></li>
	<li><a href="#dpeerServices" onclick="fshow('peerServices');" id="tpeerServices">Peer Services</a></li>
</ul>

#set( $p2pManager = $manager.getService("org.paxle.p2p.IP2PManager"))
#if( $p2pManager)

<fieldset id="dpeerInfo">
	<legend>P2P-Manager:</legend>
	<table>
		<tr><th>Name</th><th>Value</th></tr>
		<tr><td><b>Peer ID</b></td><td>$p2pManager.getPeerID()</td></tr>
		<tr><td><b>Peer Name</b></td><td>$p2pManager.getPeerName()</td></tr>
		<tr><td><b>Group ID</b></td><td>$p2pManager.getGroupID()</td></tr>
		<tr><td><b>Group Name</b></td><td>$p2pManager.getGroupName()</td></tr>			
	</table>
</fieldset>

<fieldset id="dpeerList">
	<legend>Known Peers</legend>
	<table>
	<tr><th>Peer Name</th><th align="left">Peer ID</th></tr>
	#set( $peers = $p2pManager.getPeerAdvertisements())
	#foreach($peer in $peers)		
		<tr><td>$peer.getName()</td><td>$peer.getPeerID()</td></tr>
	#end
	</table>
</fieldset>

<fieldset id="dpeerServices">
	<legend>P2P-Services</legend>
	<h3>Servers:</h3>
	#serviceList($manager.getServices(null,"(objectClass=org.paxle.p2p.services.IServiceServer)"))
	<hr />
	<h3>Clients:</h3>
	#serviceList($manager.getServices(null,"(objectClass=org.paxle.p2p.services.IServiceClient)"))
</fieldset>
#else
	<p class="error bundleNotInstalled">P2P Bundle not installed</p>
#end
