## Set the page title
#set( $page_title = "Paxle Status Page" )
## Activate onload
#set ( $bodyonload = "initTabs('peerInfo');" )

## ---------------------------------------------------------------------------------------
## Define some macros 
#macro( serviceList $services)
<table>
  <tr>
    <th>Service ID</th>
    <th>Received Messages</th>
    <th>Received Bytes</th>
    <th>Sent Messages</th>
    <th>Sent Bytes</th>
  </tr>
  #if( $services)
  #foreach( $service in $services)
  <tr>
    <td>$service.getServiceIdentifier()</td>
    <td>$service.getReceivedMessageCount()</td>
    <td>$service.getRecievedBytesCount()</td>
    <td>$service.getSentMessageCount()</td>
    <td>$service.getSentBytesCount()</td>			
  </tr>
  #end
  #end
</table>
	
#end
## ---------------------------------------------------------------------------------------

<ul class="tabs">
  <li><a href="#dpeerInfo" onclick="fshow('peerInfo');" id="tpeerInfo">Peer Info</a></li>
  <li><a href="#dpeerList" onclick="fshow('peerList');" id="tpeerList">Peer List</a></li>
  <li><a href="#dpeerServices" onclick="fshow('peerServices');" id="tpeerServices">Peer Services</a></li>
</ul>

#set($p2pManager = $manager.getService("org.paxle.p2p.IP2PManager"))
#if($p2pManager)

<fieldset id="dpeerInfo">
  <legend>P2P-Manager:</legend>
  <table>
    <tr><td>Peer ID:</td><td>$p2pManager.getPeerID()</td></tr>
    <tr><td>Peer Name:</td><td>$p2pManager.getPeerName()</td></tr>
    <tr><td>Group ID:</td><td>$p2pManager.getGroupID()</td></tr>
    <tr><td>Group Name:</td><td>$p2pManager.getGroupName()</td></tr>			
  </table>
</fieldset>

<fieldset id="dpeerList">
  <legend>Known Peers</legend>
  <table>
    <tr><th>Peer Name</th><th align="left">Peer ID</th></tr>
	#set($peers = $p2pManager.getPeerAdvertisements())
	#foreach($peer in $peers)		
    <tr><td><tt>$peer.getName()</tt></td><td><tt>$peer.getPeerID()</tt></td></tr>
	#end
  </table>
</fieldset>

<fieldset id="dpeerServices">
  <legend>P2P-Services</legend>
  <h3>Servers:</h3>
  #serviceList($manager.getServices(null,"(objectClass=org.paxle.p2p.services.IServiceServer)"))
  <hr />
  <h3>Clients:</h3>
  #serviceList($manager.getServices(null,"(objectClass=org.paxle.p2p.services.IServiceClient)"))
</fieldset>
#else
  <p class="bundleNotInstalled">P2P Bundle not installed</p>
#end
