## getting resourcebundle to translate site
#set( $text = $resourceTool.bundle('OSGI-INF/l10n/queueview'))

## ---------------------------------------------------------------------------------------
## Define some macros 
## ---------------------------------------------------------------------------------------
#macro(listCommands $cmdList)
	#if($cmdList && ${listTool.size($cmdList)} > 0)
	<table>
    	<tr>
    		<th>${text.table.profile}</th>
    		<th>${text.table.crawlingdepth}</th>
    		<th>${text.table.command}</th>
			<th>${text.table.mimetype}</th>
			<th>${text.table.size}</th>
    	</tr>		
		#foreach($cmd in $cmdList)
		<tr>
			<td>${cmd.getProfileOID()}</td>
			<td>${cmd.getDepth()}</td>
			<td><a href="${cmd.getLocation()}">${cmd.getLocation()}</a></td>
			<td>$!{cmd.getCrawlerDocument().getMimeType()}</td>
			<td>$!{cmd.getCrawlerDocument().getSize()}</td>
		</tr>
		#end
	</table>
	#else
		<p>${text.emptyQueue}</p>
	#end	
#end
## --------------------------------------------------------------------------------------

<fieldset>
	<legend>${text.activeJob.legend}</legend>	
	#listCommands($activeJobs)
</fieldset>

<fieldset>
	<legend>${text.enqueuedJob.legend}</legend>
	#listCommands($enqueuedJobs)
</fieldset>
	
<div class="lastUpdate">Last Update: ${dateTool.format('medium',$dateTool.getDate())}</div>