#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2008 the original author or authors.
 * 
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0"). 
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt 
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 * 
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#

## getting resourcebundle to translate site
#set( $text = $resourceTool.bundle('OSGI-INF/l10n/queueview'))

<fieldset>
	<legend>${text.overview.legend}</legend>  
	#set( $components = { ${text.tab.crawler}:'org.paxle.crawler', ${text.tab.parser}:'org.paxle.parser', ${text.tab.indexer}:'org.paxle.indexer'})
	<table>
		<tr>
			<th>${text.table.component}</th>
			<th>${text.table.active}</th>
			<th>${text.table.enqueued}</th>
		</tr>
		#foreach($entry in ${components.entrySet()})
    		#if($manager.getServices("org.paxle.core.IMWComponent", "(component.ID=${entry.value})"))
    		<tr>
				#set($compQueue = $listTool.get($manager.getServices( "org.paxle.core.IMWComponent", "(component.ID=${entry.value})"),0))
    			<td><a href="?queue=${entry.value}">${entry.key}</a></td>
    			<td>${compQueue.getActiveJobCount()}</td>
    			<td>${compQueue.getEnqueuedJobCount()}</td>
    		</tr>
    		#end
		#end
	</table>
</fieldset>
		
<div class="lastUpdate">Last Update: ${dateTool.format('medium',$dateTool.getDate())}</div>