#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2009 the original author or authors.
 *
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0").
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 *
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns:atom="http://www.w3.org/2005/Atom">
   <channel>
      <title>Paxle-Search for $escTool.xml($paramParser.getString('query'))</title>
      <description>Paxle-Search for $escTool.xml($paramParser.getString('query'))</description>
      ##TODO
      ##<image>	 
         ##<url></url>
         ##<title></title>
      ##</image>
      <link>$request.getScheme()://$request.getServerName():$request.getServerPort()/$escTool.xml($request.getQueryString())</link>
      <atom:link href='$request.getScheme()://$request.getServerName():$request.getServerPort()/$escTool.xml($request.getQueryString())' rel="self" type="application/rss+xml" />
      <atom:link rel="search" type="application/opensearchdescription+xml" href='$request.getScheme()://$request.getServerName():$request.getServerPort()/opensearch/osd.xml'/>
      ##<pubDate>$dateTool.getSystemDate()</pubDate>
      <pubDate>$dateTool.format('EEE, dd MMM yyyy HH:mm:ss Z', $dateTool.getSystemDate(),$localeUS)</pubDate>
      ##<Query role="request" searchTerms='$escTool.xml($paramParser.getString('query')' />
   
   #if($searchError)
   	<!-- TODO -->
   #elseif($searchResultList)
      #foreach($searchResult in $searchResultList)
         #foreach($result in $searchResult.getResult())
	    #if($result.get($fieldManager.get("Location")))
               <item>
                   <link>$escTool.xml($result.get($fieldManager.get("Location")))</link>
                   <title>
                      #if($result.get($fieldManager.get("Title")))
                         $escTool.xml($result.get($fieldManager.get("Title")))
                      #else
                         $escTool.xml($result.get($fieldManager.get("Location")))
		      #end		   
                   </title>
		   #if($result.get($fieldManager.get("Author")))
                      <author>$result.get($fieldManager.get("Author"))</author>
		   #end
		   
		   #if($result.get($fieldManager.get("LastCrawled")))
		   <pubDate>$dateTool.format('EEE, dd MMM yyyy HH:mm:ss Z',$result.get($fieldManager.get("LastCrawled")),$localeUS)</pubDate>
		   #end		   
		   
                   <description><![CDATA[
                      #if($result.get($fieldManager.get("LastCrawled")))
                         Last Crawled: $dateTool.format('short',$result.get($fieldManager.get("LastCrawled")))<br />
                      #end
                      #if($result.get($fieldManager.get("LastModified")))
                         Last Modified: $dateTool.format('short',$result.get($fieldManager.get("LastModified")))<br />
                      #end
                      #if($result.get($fieldManager.get("Summary")))
                         Summary: $result.get($fieldManager.get("Summary"))<br />
                      #end
			<hr />			
                      #if($result.get($fieldManager.get("Snippet")))
			   Summary: $result.get($fieldManager.get("Snippet"))
                      #end
                   ]]></description>		   
		   
		   ## what to use for the guid???
		   ##<guid isPermaLink="false"></guid>
               </item>
		
	    #end
         #end
      #end         
   #end		
   </channel>
</rss>

##To-Do: According to http://www.opensearch.org/Specifications/OpenSearch/1.1#Elements we _can_ add more data to this feed