## Set the page title
#set( $page_title = "Settings Controlpage" )

## the regular content
<h2>Settings: </h2>
#if($availbleStyles)
<form>
	<select name="changeStyle">
	#foreach($name in $availbleStyles.keySet())
		<option value="$availbleStyles.get( $name).toString()">$name</option>
	#end
	</select>
	<input type="submit" value="Change Style" />
</form>
#end
