## Set the page title
#set( $page_title = "Settings Controlpage" )

## the regular content
<h2>Settings: </h2>

#if( $errorMsg)
	<p class="box error">$errorMsg</p>
#end

#set( $configAdmin = $manager.getService( "org.osgi.service.cm.ConfigurationAdmin"))
#set( $metaTypeService = $manager.getService( "org.osgi.service.metatype.MetaTypeService"))

#if( $metaTypeService && $configAdmin)
	<h3>Configuration Management</h3>
	#if( $paramParser.getString( "bundleID") && $paramParser.getString( "pid"))
		#set( $bundleID = $paramParser.getString( "bundleID"))
		#set( $PID = $paramParser.getString( "pid"))
		#set( $bundle = $manager.getBundle( $mathTool.toInteger( $bundleID)))
		
		## searching for metatype info
		#set( $metaType = $metaTypeService.getMetaTypeInformation($bundle))
		#if( $metaType)
			#if( $bundle.getBundleId() == $metaType.getBundle().getBundleId())
    			#set( $ocd = $metaType.getObjectClassDefinition( $PID, "en"))
    			#if( $ocd)
    				<p>
    					<h4>Name: $ocd.getName()</h4><br/>
    					<i>Bundle:</i><a href="bundle?bundleID=$bundleID&amp;action=details">$bundleID</a><br/>
    					<i>Description:</i> $ocd.getDescription()<br/>
    					
    					## 	getting the current configuration
    					#set($config = $configAdmin.getConfiguration($PID,${bundle.getLocation()}))
    					
    					## getting the configuration attributes
    					#set($attributes = $ocd.getAttributeDefinitions(-1))
    					#if($attributes)
							<form action="">
								<input type="hidden" name="pid" value="$PID">
								<input type="hidden" name="bundleID" value="${bundle.getBundleId()}">
								</ins>
                            	<table>
                            	<tr>
                            		<th>Name</th>
        							<th>Type</th>
                            		<th>Value</th>
    								<th>Description</th>
                            	</tr>
                            	#foreach($attribute in $attributes)
    								#set($attributeID = ${attribute.getID()})								
    								#set($attribValue = ${settingsView.getPropertyValue($config,$attribute)})
    								#set($attribType = ${dataTypes.get($attribute.getType())})
									#set($optionLabels = ${attribute.getOptionLabels()})
									#set($optionValues = ${attribute.getOptionValues()})
    								
                            		<tr class="$color">
                            			<td>$attribute.getName()</td>
        								<td>$attribType</td>
                            			<td>
											#if($optionLabels && $listTool.size($optionLabels) > 0)
												<select size="1" name="$attributeID">
												#foreach($optionLabel in $optionLabels)
													#set($idx = $velocityCount - 1)
													#set($optionValue = ${listTool.get($optionValues,$idx)})
													<option value="$optionValue" #if($optionValue==$attribValue)selected="selected"#end>$optionLabel</option>                                               
												#end
												</select>
    										#else 
        										#if($attribType == "Boolean")
    												<input type="radio" name="$attributeID" value="true" #if($attribValue)checked="checked"#end> Yes &nbsp;
    												<input type="radio" name="$attributeID" value="false" #if(!$attribValue)checked="checked"#end> No 
        										#else
        											<input type="text" name="$attributeID" value="$!attribValue"/>
        										#end	
											#end
    									</td>
    									<td>${attribute.getDescription()}</td>
                            		</tr>                            		
                            	#end
                            	</table>
    							 <input type="submit" name="doEdit" value="Change"/>
							</form>
    					#end
    					<hr/>
    				</p>
    			#end	
		    #end	
		#end
	#else 
    		
		<table>
		<tr>
			<th>Name</th>
			<th>PID</th>
			<th>Link</th>
		</tr>
		#set($color = $alternatorTool.auto('r1','r2'))
		
    	## loop through each bundle to see if there are any metatypes	
    	#foreach($bundle in $manager.getBundles())
    		#set($metaType = $metaTypeService.getMetaTypeInformation($bundle))
    		#if($metaType)
				#if($bundle.getBundleId() == $metaType.getBundle().getBundleId())
        			## get the PIDs of all managed services
        			#set($PIDs = $metaType.getPids())
        			#if($PIDs)					
        				## loop through all managed services and fetch the
        				## corresponding ObjectClassDefinitions
        				#foreach($PID in $PIDs)
        					#set($ocd = $metaType.getObjectClassDefinition($PID, "en"))
        					#if($ocd)
    							<tr class="$color">
    								<td>$ocd.getName()</td>
    								<td>$PID</td>
    								<td><a href="?bundleID=$bundle.getBundleId()&amp;pid=$PID">View</a></td>
    							</tr>							
        					#end
        				#end
        			#end	
					
					#*
        			## get the PIDs of all managed services factories
        			#set($PIDs = $metaType.getFactoryPids())
        			#if($PIDs)					
        				## loop through all managed services and fetch the
        				## corresponding ObjectClassDefinitions
        				#foreach($PID in $PIDs)
        					#set($ocd = $metaType.getObjectClassDefinition($PID, "en"))
        					#if($ocd)
    							<tr class="$color">
    								<td>$ocd.getName()</td>
    								<td>$PID</td>
    								<td><a href="?bundleID=$bundle.getBundleId()&amp;pid=$PID&amp;factory=">View</a></td>
    							</tr>							
        					#end
        				#end
        			#end		
					*#
				#end
    		#end
		#end
		</table>
	#end
#else 
	#if(!$configAdmin)<div class="bundleNotInstalled">Configuration Administration bundle not installed!</div>#end
	#if(!$metaTypeService)<div class="bundleNotInstalled">Metatype bundle not installed!</div>#end
#end



#*
#if($configAdmin)
<h3>Crawler-Config:</h3>
	
	#set($bundleRefs = $manager.getServiceReferences("org.paxle.crawler.http.IHttpCrawler"))
	BundleRefs: $bundleRefs<br/>
	
	#set($bundleRef = $listTool.get($bundleRefs,0))
	BundleRef: $bundleRef<br/>
	
	#set($bundle = $bundleRef.getBundle())
	Bundle: $bundle<br/>
	
	#set($bundleLocation = $bundle.getLocation())
	Location: $bundleLocation<br/>
	
	#set($config = $configAdmin.getConfiguration("org.paxle.crawler.http.IHttpCrawler",$bundleLocation))
	Configuration: $config<br/>
	
	#set($properties = $config.getProperties())
	Properties: $properties<br/>
	
	#set($metaType = $metaTypeService.getMetaTypeInformation($bundle))
	MetaTypeInfo: $metaType<br/>
	
	#set($ocd = $metaType.getObjectClassDefinition("org.paxle.crawler.http.IHttpCrawler", null))
	Object Class Definition: $ocd<br/>
	Name: $ocd.getName()<br/>
	Desc.: $ocd.getDescription()<br/>
	ID: $ocd.getID()<br/>
	
	#set($attributes = $ocd.getAttributeDefinitions(-1))
	Attributes: $attributes<br/>
	
	#set($color = $alternatorTool.auto('r1','r2'))
	<table border="1">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>ID</th>
		<th>Value</th>
	</tr>
	#foreach($attribute in $attributes)
		<tr class="$color">
			<td>$attribute.getName()</td>
			<td>$attribute.getDescription()</td>
			<td>$attribute.getID()</td>
			<td>$properties.get($attribute.getID())</td>
		</tr>
		
	#end
	</table>
#else
	<div class="notInstalled">CM bundle not installed!</div>
#end
*#

#* This is configurable via CM now.
#if( $availbleStyles)
<h3>Styles:</h3>
<form action="">
	<p>
		<select name="changeStyle">
			<option value="default">Default Style</option>
			#foreach($name in $availbleStyles)
				<option value="$name">$name</option>
			#end
		</select>
		<input type="submit" value="Change" />
	</p>
</form>

<form action="">
	<p>
		<input type="hidden" name="searchForStyles" value="search" />
		<input type="submit" value="" class="btnreload" />
	</p>
</form>

#end
*#