## Set the page title
#set( $page_title = "Paxle Status Page" )
## Activate onload
#set ( $bodyonload = "initTabs('general');" )

## ---------------------------------------------------------------------------------------
## Define some macros 
#macro( filterlist $queues)
	#if( $queues)
	   #foreach( $queue in $queues)
		<p>$queue.getFilters().size() filter(s) found:</p>
		<table>
		<tr>
			<th>Name</th>
		</tr>
		#foreach( $filter in $queue.getFilters())
		<tr>
		   <td>$filter.getFilter().getClass().getName()</td>
		</tr>
		#end
	   </table>
	   #end
	#end
#end
## ---------------------------------------------------------------------------------------

<ul class="tabs">
	<li><a href="#dgeneral" onclick="fshow('general');" id="tgeneral">General</a></li>
	<li><a href="#dcrawler" onclick="fshow('crawler');" id="tcrawler">Crawler</a></li>
	<li><a href="#dparser" onclick="fshow('parser');" id="tparser">Parser</a></li>
	<li><a href="#dindex" onclick="fshow('index');" id="tindex">Index</a></li>
	<li><a href="#dsearch" onclick="fshow('search');" id="tsearch">Search</a></li>
	<li><a href="#dgui" onclick="fshow('gui');" id="tgui">GUI</a></li>
</ul>

## the regular content
<form method="post" action="">
<fieldset id="dgeneral">
<legend>General</legend>
	<p>
		<input class="btnShutdown" type="submit" name="shutdown" value="Shutdown" />
		<input class="btnRestart" type="submit" name="restart" value="Restart" />
	</p>
</fieldset>
</form>

## ==================================================================================
## CRAWLER STATUS
## ==================================================================================
#set($subCrawlerManager = $manager.getService( "org.paxle.crawler.ISubCrawlerManager"))
#if($subCrawlerManager)
<fieldset id="dcrawler">
	<legend>Crawler</legend>
	#set( $crawlers = $manager.getServices( "org.paxle.core.IMWComponent","(component.ID=org.paxle.crawler)"))
	#if ( $crawlers)
		#foreach( $crawler in $crawlers)
			#if( $doPause && $doPause == true)
				$crawler.pause()
			#elseif( $doResume && $doResume == true)
				$crawler.resume()	
			#elseif( $doProcessNextCrawl && $doProcessNextCrawl == true)				
				$crawler.processNext()
			#end
			The crawler is 
			#if( $crawler.isPaused() == true)
				<span class="statusPaused">paused</span>
				<form method="get" action="#dcrawler">
					<p>
						<input class="btnResume" type="submit" name="resumeCrawl" value="Resume" />
						<input type="submit" name="processNextCrawl" value="Process Next" />
					</p>
				</form>
			#else 
				<span class="statusRunning">running</span>
				<form method="get" action="#dcrawler">
					<p>
						<input class="btnPause" type="submit" name="pauseCrawl" value="Pause" />
					</p>
				</form>
			#end
			Current PPM: $crawler.getPPM()
		#end
	#end


	<hr />		
	<h3>Supported protocols:</h3>
	#set($protocols = $subCrawlerManager.getProtocols())
	#set($crawlers = $subCrawlerManager.getSubCrawlers())		
	<p><strong>$crawlers.size()</strong> crawler(s) installed supporting <strong>$protocols.size()</strong> protocols.</p>
	
	## Enable/Disable protocols if requested
	#if( $paramParser.getString( "doEnableProtocol")) $subCrawlerManager.enableProtocol( $paramParser.getString( "enableProtocol"))#end
	#if( $paramParser.getString( "doDisableProtocol")) $subCrawlerManager.disableProtocol( $paramParser.getString( "disableProtocol"))#end

	<table>
		<tr><th>Protocol</th><th colspan="2">Status</th></tr>
		#set( $disabledProtocols = $subCrawlerManager.disabledProtocols())
		#foreach($protocol in $protocols)
			<tr>
				<td>$protocol</td>
				<td>#if( $disabledProtocols.contains( $protocol))
					<span class="statusDisabled">disabled</span>
				    #else
					<span class="statusEnabled">enabled</span>
				    #end
				</td>
				<td>
					<form method="get" action="#dcrawler">
						<div>
							#if( $disabledProtocols.contains( $protocol))
							<input class="btnEnable" type="submit" name="doEnableProtocol" value="enable" />
							<input type="hidden" name="enableProtocol" value="$protocol" />
							#else
							<input class="btnDisable" type="submit" name="doDisableProtocol" value="disable" />
							<input type="hidden" name="disableProtocol" value="$protocol" />
							#end
						</div>
					</form>
				</td>
			</tr>
		#end
	</table>
	
	<hr />
	<h3>Deployed crawler input-queue filters:</h3>
	#filterlist( $manager.getServices( "org.paxle.core.filter.IFilterQueue", "(org.paxle.core.filter.IFilterQueue.id=org.paxle.crawler.in)"))

	<hr />
	<h3>Deployed crawler output-queue filters:</h3>
	#filterlist( $manager.getServices( "org.paxle.core.filter.IFilterQueue", "(org.paxle.core.filter.IFilterQueue.id=org.paxle.crawler.out)"))
</fieldset>
#else
<fieldset id="dcrawler">
	<legend>Crawler</legend>	
	<p class="error bundleNotInstalled">Crawler bundle not installed!</p>
</fieldset>	
#end

## ==================================================================================
## PARSER STATUS
## ==================================================================================

#set( $subParserManager = $manager.getService( "org.paxle.parser.ISubParserManager"))
#if( $subParserManager)
<fieldset id="dparser">
	<legend>Parser</legend>
	#set( $parsers = $manager.getServices( "org.paxle.core.IMWComponent", "(component.ID=org.paxle.crawler)"))	
	#if( $parsers)
	#foreach( $parser in $parsers)
		<p>The parser is 
		#if( $parser.isPaused() == true)
		<span class="statusPaused">paused</span>
		#else 
		<span class="statusRunning">running</span>
		#end.
		</p>
	#end
	#end

	<hr />
	<h3>Supported mimetypes:</h3>	
	#set( $mimeTypes = $subParserManager.getMimeTypes())
	#set( $parsers = $subParserManager.getSubParsers())		
	<p><strong>$parsers.size()</strong> parser(s) installed supporting <strong>$mimeTypes.size()</strong> mime-types.</p>
	
	## Enable/Disable mime-types if requested
	#if( $paramParser.getString( "doEnableMimeType")) $subParserManager.enableMimeType( $paramParser.getString( "enableMimeType"))#end
	#if( $paramParser.getString( "doDisableMimeType")) $subParserManager.disableMimeType( $paramParser.getString( "disableMimeType"))#end	
	

	<table>
		<tr><th>Mime-Type</th><th colspan="2">Status</th></tr>
		#set( $disabledMimeTypes = $subParserManager.disabledMimeTypes())
		#foreach( $mimeType in $mimeTypes)
		<tr>
			<td>$mimeType</td>
			<td>#if( $disabledMimeTypes.contains( $mimeType))
				<span class="statusDisabled">disabled</span>
			    #else
				<span class="statusEnabled">enabled</span>
			    #end
			</td>
			<td>
				<form method="get" action="#dparser">
					<div>
						#if( $disabledMimeTypes.contains( $mimeType))
						<input class="btnEnable" type="submit" name="doEnableMimeType" value="enable" />
						<input type="hidden" name="enableMimeType" value="$mimeType" />
						#else
						<input class="btnDisable" type="submit" name="doDisableMimeType" value="disable" />
						<input type="hidden" name="disableMimeType" value="$mimeType" />
						#end
					</div>
				</form>
			</td>
		</tr>
		#end
	</table>		
	
	<hr />
	<h3>Deployed parser input-queue filters:</h3>
	#filterlist( $manager.getServices( "org.paxle.core.filter.IFilterQueue", "(org.paxle.core.filter.IFilterQueue.id=org.paxle.parser.in)"))
	
	<hr />
	<h3>Deployed parser output-queue filters:</h3>
	#filterlist( $manager.getServices( "org.paxle.core.filter.IFilterQueue", "(org.paxle.core.filter.IFilterQueue.id=org.paxle.parser.out)"))	
</fieldset>
#else
<fieldset id="dparser">
	<legend>Parser</legend>
	<p class="error notInstalled">Parser bundle not installed!</p>
</fieldset>	
#end	

## ==================================================================================
## INDEXER STATUS
## ==================================================================================

#set( $se = $manager.getService( "org.paxle.se.index.IIndexSearcher"))
#if( $se)
<fieldset id="dindex">
	<legend>Index</legend>
	<p>Known documents: $se.docCount</p>
		
	<hr />
	<h3>Deployed indexer input-queue filters:</h3>
	#filterlist( $manager.getServices( "org.paxle.core.filter.IFilterQueue", "(org.paxle.core.filter.IFilterQueue.id=org.paxle.indexer.in)"))	
	
	<hr />
	<h3>Deployed indexer output-queue filters:</h3>
	#filterlist( $manager.getServices( "org.paxle.core.filter.IFilterQueue", "(org.paxle.core.filter.IFilterQueue.id=org.paxle.indexer.out)"))		
</fieldset>
#else
<fieldset id="dindex">
	<legend>Index</legend>
	<p class="error notInstalled">Indexer bundle not installed!</p>	
</fieldset>	
#end

## ==================================================================================
## SEARCH ENGINE STATUS
## ==================================================================================

#set( $sp = $manager.getService( "org.paxle.se.search.ISearchProviderManager"))
#if( $sp)
<fieldset id="dsearch">
	<legend>Search</legend>
		
	<h3>Installed Search Providers:</h3>
	<p>$sp.getSearchProviders().size() provider(s) found:</p>
	
	## Enable/Disable providers
	#if( $paramParser.getString( "doEnableSEProvider")) $sp.enableProvider( $paramParser.getString( "enableSEProvider"))#end
	#if( $paramParser.getString( "doDisableSEProvider")) $sp.disableProvider( $paramParser.getString( "disableSEProvider"))#end	
	

	<table>
		<tr><th>Provider</th><th colspan="2">Status</th></tr>
		#set( $disabledSEProviders = $sp.disabledProviders())
		#foreach( $searchprovider in $sp.getSearchProviders())
		<tr>
			<td>$searchprovider.getClass().getName()</td>
			<td>#if( $disabledSEProviders.contains( $searchprovider.getClass().getName()))
				<span class="statusDisabled">disabled</span>
				#else
				<span class="statusEnabled">enabled</span>
				#end
			</td>
			<td>
				<form method="get" action="#dsearch">
					<div>
						#if( $disabledSEProviders.contains( $searchprovider.getClass().getName()))
						<input class="btnEnable" type="submit" name="doEnableSEProvider" value="enable" />
						<input type="hidden" name="enableSEProvider" value="$searchprovider.getClass().getName()" />
						#else
						<input class="btnDisable" type="submit" name="doDisableSEProvider" value="disable" />
						<input type="hidden" name="disableSEProvider" value="$searchprovider.getClass().getName()" />
						#end
					</div>
				</form>
			</td>
		</tr>			
		#end
	</table>
	
</fieldset>
#else
<fieldset id="dsearch">
	<legend>Search</legend>
	<p class="error notInstalled">Search-Engine bundle not installed!</p>	
</fieldset>	
#end


## ==================================================================================
## GUI STATUS
## ==================================================================================
#set( $servletManager = $manager.getService( "org.paxle.gui.IServletManager"))
#if( $servletManager)
<fieldset id="dgui">
	<legend>GUI</legend>
		
	<h3>Installed Servlets:</h3>
	<p>$servletManager.getServlets().size() servlet(s) found:</p>
	
	<table>		
		<tr><th>Path</th><th>Class</th></tr>
		#foreach( $servlet in $sortTool.sort( $servletManager.getServlets().entrySet(), ["key"]))
		<tr>
			<td><a href="$servlet.getKey()">$servlet.getKey()</a></td>
			<td>$servlet.getValue().getClass().getName()</td>
		</tr>
		#end
	</table>		
	<hr />
	
	<h3>Registered Resources:</h3>
	$servletManager.getResources().size() resource(s) found:<p />
	
	<table>		
		<tr><th>Path</th><th>Class</th></tr>
		#foreach( $resources in $sortTool.sort( $servletManager.getResources().entrySet(), ["key"]))
		<tr>
			<td><a href="$resources.getKey()">$resources.getKey()</a></td>
			<td>$resources.getValue()</td>
		</tr>
		#end
	</table>	
</fieldset>
#end

