## getting resourcebundle to translate site
#set( $text = $resourceTool.bundle('OSGI-INF/l10n/sysdown'))

## Set the page title
#if( $restart )
	#set( $page_title = ${text.browser.title.restart} )
#else
	#set( $page_title = ${text.browser.title.shutdown} )
#end

## the regular content

#if( $restart )
<img src="../images/restart.png">
<h2>${text.restartMsg}</h2>
#else
<img src="../images/shutdown.png">
<h2>${text.shutdownMsg}</h2>
#end