#*
 * This file is part of the Paxle project.
 * Visit http://www.paxle.net for more information.
 * Copyright 2007-2009 the original author or authors.
 *
 * Licensed under the terms of the Common Public License 1.0 ("CPL 1.0").
 * Any use, reproduction or distribution of this program constitutes the recipient's acceptance of this agreement.
 * The full license text is available under http://www.opensource.org/licenses/cpl1.0.txt
 * or in the file LICENSE.txt in the root directory of the Paxle distribution.
 *
 * Unless required by applicable law or agreed to in writing, this software is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *#
## Set the page title
#set( $page_title = "Thread Dump" )

## the regular content
<h2>Thread Dump:</h2>

#if($dumps)
		<ul>
		#foreach($thread in $sortTool.sort($dumps.keySet(),["name"]))
			
			## thread-name
			<li><a href="#${thread.getId()}">$thread.getName()</a></li>
	
		#end
		</ul>
		<hr/>
	
		## A typical thread-dump looks like:
		##
        ##	"Thread-13" daemon prio=1 tid=0x08165128 nid=0x747b waiting on condition [0xa7dd7000..0xa7dd7db0]
        ##        at java.lang.Thread.sleep(Native Method)
        ##        at org.apache.commons.cache.StaleObjectEvictor.run(Unknown Source)
        ##        at java.lang.Thread.run(Thread.java:595)
	
		#foreach($dump in $dumps.entrySet())
			#set($thread = $dump.getKey())
			<div class="thread_${thread.getState()}">
				## thread-name
				<tt><a name="${thread.getId()}">"$thread.getName()"&nbsp;</a></tt>
				
				## if it is a deamon
				<tt>#if($thread.isDaemon())daemon&nbsp;#{end}</tt>
					
				## priority
				<tt>prio=$thread.getPriority()&nbsp;</tt>
				
				## tid
				<tt>tid=$thread.getId()&nbsp;</tt>
				
				## nid?
				<tt>$thread.getState()&nbsp;</tt>
				
				<pre>#foreach($element in $dump.getValue())&nbsp;&nbsp;&nbsp;&nbsp;$element<br/>#{end}</pre>
			</div>
		#end		
#end

