## Set the page title
#set( $page_title = "Bundle Controlpage" )

## the regular content
#if($bundle)
<h1>Bundle Info</h1>
<h2>Runtime Information</h2>
<table>
	<tr><td><b>ID</b><td>$bundle.BundleId</td></tr>
	<tr><td><b>Location</b><td>$bundle.Location</td></tr>
	<tr><td><b>State</b><td>$states.get($bundle.state)</td></tr>
	<tr><td><b>Last Modified</b><td>$bundle.LastModified</td></tr>
</table>

<h2>Bundle Manifest</h2>
<table>
	#set($headers = $bundle.getHeaders())	
	#foreach($name in $headers.keys())		
		<tr>
			<td valign="top"><b>$name</b></td>
			<td>
			#if($name == "Import-Package" || $name == "Export-Package")			
				#foreach($package in $headers.get($name).split(","))
					$package<br />
				#end
			#else
				$headers.get($name)
			#end
			</td>
		</tr>
	#end
</table>

<h2>Exported Services</h2>
<table>
	#set($services = $bundle.getRegisteredServices())
	#foreach($service in $services)
		<tr>
			<td valign="top"><b>$service.getProperty("service.id")</b></td>
			<td>
				#foreach($serviceClass in $service.getProperty("objectClass"))
					$serviceClass<br />
				#end
			</td>
		</tr>
	#end	
</table>

#else
<h1>Bundle Controlpage</h1>
<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>State</th>
		<th>Start</th>
		<th>Stop</th>
		<th>Update</th>
	</tr>
	#if($bundles)
		#foreach($entry in $bundles.entrySet())
			<tr>
				<td><a href="?bundleID=$entry.key&details=">$entry.key</a></td>
				<td>$entry.value.symbolicName</td>
				<td>$states.get($entry.value.state)</td>
				<td align="center"><form>
						<input type="hidden" name="bundleID" value="$entry.key" />
						<input type="submit" name="start" value="Start" />
				</form></td>
				<td align="center"><form>
						<input type="hidden" name="bundleID" value="$entry.key" />
						<input type="submit" name="stop" value="Stop" />
				</form></td>
				<td align="center"><form>
						<input type="hidden" name="bundleID" value="$entry.key" />
						<input type="submit" name="update" value="Update" />
				</form></td>
			</tr>
		#end
	#end
</table>
#end