## Set the page title
#set( $page_title = "Bundle Controlpage" )

## the regular content
<h1>Bundle Controlpage</h1>
<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>State</th>
		<th>Start</th>
		<th>Stop</th>
		<th>Update</th>
	</tr>
	#if($bundles)
		#foreach($entry in $bundles.entrySet())
			<tr>
				<td>$entry.key</td>
				<td>$entry.value.symbolicName</td>
				<td>$states.get($entry.value.state)</td>
				<td align="center"><form>
						<input type="hidden" name="bundleID" value="$entry.key" />
						<input type="submit" name="start" value="Start" />
				</form></td>
				<td align="center"><form>
						<input type="hidden" name="bundleID" value="$entry.key" />
						<input type="submit" name="stop" value="Stop" />
				</form></td>
				<td align="center"><form>
						<input type="hidden" name="bundleID" value="$entry.key" />
						<input type="submit" name="update" value="Update" />
				</form></td>
			</tr>
		#end
	#end
</table>
