<html>
	<head>
		<title >
			Bundle Controlpage
		</title>
	</head>
	<body >
		<h1 >
			Bundle Controlpage
		</h1>
		<table>
			<tr >
				<th >
					Bundle ID
				</th>
				<th >
					Bundlename
				</th>
				<th >
					Update
				</th>
			</tr>
			#set($bundleList = $manager.getBundles())
			#if($bundleList)
				#foreach($bundle in $bundleList)
					<tr>
						<td >
							$bundle.getBundleId()
						</td>
						<td >
							$bundle.getSymbolicName()
						</td>
						<td >
							<form >
								<input type="hidden" name="bundleID" value="$bundle.getBundleId()" />
								<input type="submit" name="update" value="Update" />
							</form>
						</td>
					</tr>
				#end
			#end
		</table>
	</body>
</html>