## Set the page title
#set( $page_title = "Crawler Controlpage" )

## the content
<form action="/crawler" method="post">
Crawl URL: <input type="text" name="startURL"><input type="submit" value="Send">
</form>
