## Set the page title
#set( $page_title = "Crawler Controlpage" )

## the content
<form action="/crawler" method="post">
	<label for="startURL">Crawl URL:</label><br /> 
	<input type="text" id="startURL" name="startURL" /> <input type="submit" value="Send" />
</form>
<form action="/crawler" method="post">
	<label for="startURL2">MassCrawl URL:</label><br /> 
	<textarea cols="80" rows="15" name="startURL2" id="startURL2"></textarea>
	<br />
	<input type="submit" value="Send" />
</form>
