## Set the page title
#set( $page_title = "Crawler Controlpage" )

## the content
<form action="/crawler" method="post">
Crawl URL: <input type="text" name="startURL" /><input type="submit" value="Send" />
</form>
<form action="/crawler" method="post">
MassCrawl URL: <textarea cols="80" rows="15" name="startURL2"></textarea> <input type="submit" value="Send" />
</form>
