## Set the page title
#set( $page_title = "Paxle Queue View Page" )

<ul class="tabs">
	<li><a href="?queue=org.paxle.crawler">Crawler</a></li>
	<li><a href="?queue=org.paxle.parser">Parser</a></li>
	<li><a href="?queue=org.paxle.indexer">Indexer</a></li>
</ul>

<br />
<br />

#set($subCrawlerManager = $manager.getService("org.paxle.crawler.ISubCrawlerManager"))
#if($activeJobs)
	#foreach($activeJob in $activeJobs)
		$activeJob.getLocation()<br>
	#end
#end