## Set the page title
#set( $page_title = "Paxle Search Page" )

## the regular content
<form >
	<input type="text" name="query" />
	<input type="submit" value="search now"/>
</form>
	
#if($searchQuery)
	<table >
		#set($Search = $manager.getService("org.paxle.se.search.ISearchProviderManager"))
		#if($Search)
			#foreach($searchResult in $Search.search($searchQuery, 50, 10000))
				#foreach($result in $searchResult.getResult())
					<tr>
						<td>
							<a href="$result.get($fields.get("URL"))">$result.get($fields.get("TITLE"))</a><br />
							#if($result.get($fields.get("AUTHOR")))
								Author: $result.get($fields.get("AUTHOR"))<br />
							#end
							#if($result.get($fields.get("LAST_CRAWLED")))
								Last Crawled: $result.get($fields.get("LAST_CRAWLED"))<br />
							#end
							#if($result.get($fields.get("LAST_MODIFIED")))
								Last Modified: $result.get($fields.get("LAST_MODIFIED"))<br />
							#end
						</td>
					</tr>
				#end
			#end
		#end
	</table>
#end
