## Set the page title
#set( $page_title = "Paxle Search Page" )

## the regular content
#if($manager.hasService("org.paxle.se.search.ISearchProviderManager"))
<form>
	<input type="text" size="50" name="query" #if($searchQuery) value="$searchQuery" #end/>
	<input type="submit" value="search now"/>
</form>
#else
	<font color="red"><b>Search Engine Bundle not installed</b></font>
#end
	
#if($searchQuery)
	<table >
		#set($Search = $manager.getService("org.paxle.se.search.ISearchProviderManager"))
		#if($Search)
			#set($fieldManager = $manager.getService("org.paxle.se.index.IFieldManager"))
			#foreach($searchResult in $Search.search($searchQuery, 50, 10000))
				#foreach($result in $searchResult.getResult())
					#if($result.get($fieldManager.get("Location")))
					<tr>
						<td>
							<a href="$result.get($fieldManager.get("Location"))">
							#if($result.get($fieldManager.get("Title")))
								$result.get($fieldManager.get("Title"))
							#else
								$result.get($fieldManager.get("Location"))
							#end</a><br />
							#if($result.get($fieldManager.get("Author")))
								Author: $result.get($fieldManager.get("Author"))<br />
							#end
							#if($result.get($fieldManager.get("LastCrawled")))
								Last Crawled: $result.get($fieldManager.get("LastCrawled"))<br />
							#end
							#if($result.get($fieldManager.get("LastModified")))
								Last Modified: $result.get($fieldManager.get("LastModified"))<br />
							#end
							#if($result.get($fieldManager.get("Summary")))
								Summary: $result.get($fieldManager.get("Summary"))<br />
							#end
						</td>
					</tr>
					#end
				#end
			#end
		#end
	</table>
#end
