<html>
<body>
	<h1>Welcome to Paxle!</h1>
	
	<form>
		<input type="submit" name="shutdown" value="Shutdown" />	
	</form>
	
	#set($subCrawlerManager = $manager.getService("org.paxle.crawler.ISubCrawlerManager"))
	#if($subCrawlerManager)
		<h2>Crawler:</h2>
		#set($crawlers = $manager.getServices("org.paxle.core.IMWComponent","(component.type=org.paxle.crawler)"))
		#if ($crawlers)
			#foreach($crawler in $crawlers)
				The crawler is 
				#if($crawler.isPaused() == true)
					<b><font color="red">paused</font></b>
				#else 
					<b><font color="green">running</font></b>
				#end.
			#end
		#end
	
		<h3>Supported Protocols:</h3>	
		$subCrawlerManager.getSubCrawlers().size() crawler(s) found:<br />
		
		<table border="1">
			<tr><th>Protocol</th></tr>
			#foreach($subCrawler in $subCrawlerManager.getSubCrawlers())
			<tr>		
				<td>$subCrawler.getProtocol()</td>
			</tr>
			#end
		</table>
	#end
	
	#set($subParserManager = $manager.getService("org.paxle.parser.ISubParserManager"))
	#if($subParserManager)
		<h3>Installed Parsers:</h3>	
		#set($mimeTypes = $subParserManager.getMimeTypes())
		#set($parsers = $subParserManager.getSubParsers())		
		<b>$parsers.size()</b> parser(s) installed supporting <b>$mimeTypes.size()</b> mime-types.
		
		<table border="1">
			<tr><th>MimeTypes</th></tr>
			#foreach($mimeType in $mimeTypes)
			<tr><td>$mimeType</td>
			</tr>
			#end
		</table>
	#end	
	
</body>
<html>