## Set the page title
#set( $page_title = "Paxle Status Page" )
## Activate onload
#set ( $bodyonload = "fhide('general');" )

<ul class="tabs">
	<li><a href="#dgeneral" onclick="fshow('general');" id="tgeneral">General</a></li>
	<li><a href="#dcrawler" onclick="fshow('crawler');" id="tcrawler">Crawler</a></li>
	<li><a href="#dparser" onclick="fshow('parser');" id="tparser">Parser</a></li>
	<li><a href="#dp2pmanager" onclick="fshow('p2pmanager');" id="tp2pmanager">P2P-Manager</a></li>
	<li><a href="#dknownpeers" onclick="fshow('knownpeers');" id="tknownpeers">Known-Peers</a></li>
	<li><a href="#dindex" onclick="fshow('index');" id="tindex">Index</a></li>
</ul>

<br />
<br />

## the regular content
<form method="post">
<fieldset id="dgeneral">
<legend>General</legend>
	<input type="submit" name="shutdown" value="Shutdown" />
	<input type="submit" name="restart" value="Restart" />
</fieldset>
</form>

#set($subCrawlerManager = $manager.getService("org.paxle.crawler.ISubCrawlerManager"))
#if($subCrawlerManager)
<fieldset id="dcrawler">
	<legend>Crawler:</legend>
	#set($crawlers = $manager.getServices("org.paxle.core.IMWComponent","(component.ID=org.paxle.crawler)"))
	#if ($crawlers)
		#foreach($crawler in $crawlers)
			#if($doPause && $doPause == true)
				$crawler.pause()
			#elseif($doResume && $doResume == true)
				$crawler.resume()	
			#elseif($doProcessNextCrawl && $doProcessNextCrawl == true)				
				$crawler.processNext();		
			#end
			The crawler is 
			#if($crawler.isPaused() == true)
				<b><font color="red">paused</font></b><br/>
				<form method="get">
					<input type="submit" name="resumeCrawl" value="Resume" />
					<input type="submit" name="processNextCrawl" value="Process Next" />
				</form>
			#else 
				<b><font color="green">running</font></b><br/>
				<form method="get">
					<input type="submit" name="pauseCrawl" value="Pause" />
				</form>
			#end
			<p />
			
			Current PPM: $crawler.getPPM()
		#end
	#end


	<hr />		
	$subCrawlerManager.getSubCrawlers().size() crawler(s) found, supporting following Protocols:<br />
	<ul>
		
		#foreach($subCrawler in $subCrawlerManager.getSubCrawlers())
				<li>$subCrawler.getProtocol()</li>
		#end
	</ul>
</fieldset>
#end

#set($subParserManager = $manager.getService("org.paxle.parser.ISubParserManager"))
#if($subParserManager)
<fieldset id="dparser">
	<legend>Parser:</legend>
	#set($parsers = $manager.getServices("org.paxle.core.IMWComponent","(component.ID=org.paxle.crawler)"))	
	#if ($parsers)
		#foreach($parser in $parsers)
			The parser is 
			#if($parser.isPaused() == true)
				<b><font color="red">paused</font></b>
			#else 
				<b><font color="green">running</font></b>
			#end.
		#end
	#end

	<h3>Supported mimetypes:</h3>	
	#set($mimeTypes = $subParserManager.getMimeTypes())
	#set($parsers = $subParserManager.getSubParsers())		
	<b>$parsers.size()</b> parser(s) installed supporting <b>$mimeTypes.size()</b> mime-types.
	<ul>
		#foreach($mimeType in $mimeTypes)
		<li>$mimeType</li>
		#end
	</ul>
</fieldset>
#end	

	
#set($p2pManager = $manager.getService("org.paxle.p2p.IP2PManager"))
#if($p2pManager)
<fieldset id="dp2pmanager">
	<legend>P2P-Manager:</legend>
	<table>
		<tr><td>Peer ID:</td><td>$p2pManager.getPeerID()</td></tr>
		<tr><td>Peer Name:</td><td>$p2pManager.getPeerName()</td></tr>
		<tr><td>Group ID:</td><td>$p2pManager.getGroupID()</td></tr>
		<tr><td>Group Name:</td><td>$p2pManager.getGroupName()</td></tr>			
	</table>
</fieldset>
<fieldset id="dknownpeers">
	<legend>Known Peers</legend>
	<ul>
	#set($peers = $p2pManager.getPeerList())
	#foreach($peer in $peers)		
		<li>$peer</li>
	#end
	</ul>
</fieldset>
#end

#set($se = $manager.getService("org.paxle.se.index.IIndexSearcher"))
#if($se)
<fieldset id="dindex">
	<legend>Index</legend>
	<p>Known documents: $se.docCount</p>
</fieldset>
#end
